.cards {
  margin: $section-margin 0;
  @include media (palm) {
    margin: $section-margin-palm 0;
  }

  &-container {
    display: flex;
    flex-flow: row wrap;
    margin-left: -20px;
  }

  &-item {
    width: calc(33.333% - 20px);
    background-color: grey;
    margin: {
      left: $gutter;
      bottom: $gutter * 2;
    }
    position: relative;

    @include media(ipad) {
      width: calc(50% - 20px);
      margin-bottom: 25px;
    }

    @include media(phablet) {
      width: 100%;
    }
  }

  &-item--double {
    width: calc(66% - #{$gutter});
  }

  &-item--featured {
    width: 100%;
    margin: 0;
  }
}

.card {
  &-container {
    width: 100%;
    box-shadow: 0 30px 40px -20px rgba(black, 0.3);
    position: relative;
    overflow: hidden;

    .expand--open & {
      box-shadow: none;

      &::after {
        animation: hoverLineClose 0.3s ease-in-out;
      }

      &:hover {
        &::after {
          width: 0;
        }
      }
    }

    @include media(aboveIpad) {
      &::after {
        display: block;
        content: "";
        width: 0;
        height: 6px;
        background: $primary;
        position: absolute;
        bottom: 0;
        left: 0;
        transition: all 0.3s ease-in-out;
      }

      &:hover {
        &::after {
          width: 100%;
        }

        .card-image {
          transform: scale(1.05);
        }
      }
    }
  }

  &-meta {
    font-family: $secondaryFont;
    font-size: 13px;
    margin-bottom: 10px;
    color: #fff;
  }

  &-video {
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    iframe {
      width: 100%;
      height: 100%;
    }
  }

  &-image {
    display: block;
    background: {
      size: cover;
      repeat: no-repeat;
      position: center center;
    };
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform-origin: top;
    transition: all 0.3s ease-in-out;
  }

  &-fade {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  &-close {
    width: 50px;
    height: 50px;
    opacity: 0;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;

    &::before,
    &::after {
      display: block;
      content: '';
      width: 100%;
      height: 2px;
      background-color: #fff;
      position: absolute;
      top: 50%;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }

  &-content {
    width: 100%;
    min-height: 125px;
    padding: 20px 20px 30px;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  &-title {
    display: block;
    margin: 0;
    color: #fff;
    font-size: 18px;
    font-weight: normal;
    line-height: 1.28;
    text-decoration: none;
  }

  &-text {
    p {
      margin-bottom: 0;
    }
  }

  &-leftCorner {
    background-color: $red;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
  }

  &-rightCorner {
    background-color: $darkgrey;
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px 15px;
    color: #fff;
    font-family: $secondaryFont;
    font-size: 14px;

    a {
      color: #fff;
    }
  }

}

@keyframes hoverLineClose {
  0%{width: 100%}
  100%{width: 0;}
}

.card-excerpt .card-title {
    font-size: 16px !important;
    line-height: 24px !important;
    font-weight: normal;
  }
