img {

    vertical-align: middle;
    max-width: 100%;

}
body{}
.m-t-b-20{margin-top:20px !important; margin-bottom:20px !important;}
.m-t-b-30{margin-top:30px !important; margin-bottom:30px !important;}
.white-text{color:#fff !important;}
.black-text{color:#252424 !important;}
.site-text{color:#035d78 !important;}
.uppercase{text-transform: uppercase !important;}
.border-w{border: 1px solid #fff !important}
.m-t-40{margin-top: 40px !important;}
#about, #works, #services, #client_logo {padding: 30px 0 !important;}
.container.m-t-40 {
    background-color: #4a4a4a;
    width: 100%;
    /* color: rgba(255,255,255,.59); */
    /* font-family: "Roboto Mono",monospace; */
    font-size: 13px;
    /* font-weight: 500; */
    /* padding: 35px 15px; */
    text-decoration: none;
    color: #fff !important;
}

ul#menu-footer-menu a {
    font-size: 13px;
    color: #a5a5a5;
}


.learn-box {
    float: right;
    background-color: #ff2d55;
    width: 45%;
    text-align: center;
    padding: 35px 40px;
    margin-top: -89px;
    margin-right: -14px;
}
.learn-box .learn-scroll a {
    color: #fff !important;
    font-family: "Roboto Mono",monospace;
}
ul.nav.navbar-nav {
    float: left;
    margin-right: 100px;
}
ul.nav.navbar-nav li a:hover {
    color: #fff !important;
}
.top-header {
    position: absolute;
    top: 0;
    width: 100%;
    height: 40px;
    background-color: #000;
    padding-top: 10px;
    color: #fff;
}
ul.top-bar {padding-left: 0;}
.top-bar li {
	list-style-type: none;
	display: inline-block;
	padding-right: 10px;
}
.top-bar li a {
    color: #fff;
}
.social-icons li {

    list-style-type: none;
    display: inline-block;
    margin-right: 10px;

}
.social-icons li a {
    color: #aba5a5;
}
/*#header .navbar-fixed-top {
    margin-top: 40px;
}*/
#header #main-menu.navbar-default .navbar-nav > li > a {
text-align:center;
    padding-top: 28px;
    padding-bottom: 28px;
    font-size: 0.98em;
    height: 90px;
    color: rgba(255,255,255,.59);
    /*text-transform: uppercase;*/
    /*max-width: 120px;*/

}
.contactwidth a{max-width: 130px !important;}
#header .navbar.navbar-default .navbar-brand {
    height: auto;
    padding: 6px 0 0 15px;
    max-width: 200px;
}
.navbar-default .dropdown-toggle::after {
	position: absolute;
	display: block;
	right: 0;
	top: 50%;
	margin-top: -6px;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: 15px;
	content: "\f107";
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
#main-slider {

    overflow: hidden;
    margin-top: 30px;

}
#main-slider .owl-controls {margin-top: 0;display: none;}
#main-slider #progressBar {margin-top: -22px;}
#main-slider .slider-inner .carousel-content h2 {
margin-top:0px;
line-height: 1.2em;
}
#main-slider .slider-inner .carousel-content p {
margin-top:180px;
text-transform: uppercase;
}
.btn {
    border-width: 0;
        border-bottom-width: 0px;
    border-bottom-width: 0;
    border-radius: 25px;
}
.btn-lg, .btn-group-lg > .btn {
    padding: 10px 16px;
    font-size: 14px;
    line-height: 1.33;
    border-radius: 20px;
}
.btn.btn-primary {
    background: #035d78;
    border-color: #035d78;
}
.sky-color{color:#035d78 !important;}
.media-heading {
	text-transform: uppercase;
	font-size: 1.4em;
	line-height: 1.4em;
}
.section-header .section-title {
	font-size: 28px;
	color: #272727;
	text-transform: uppercase;
	position: relative;
	padding-bottom: 20px;
	margin: 0 0 20px;
	font-weight: 500;
}
#services .media.service-box {

    margin: 25px -15px;

}
.work-item > a {
	position: relative;
	display: block;
	overflow: hidden;
	min-height: 100%;
}
.works-grid.works-hover-w .work-item:hover .work-image::after {
    background: rgba(0, 0, 0, .6);
}
#testimonial .btns {
    margin-top: 10px;
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translatey(-50%);
}
#testimonial .btn.btn-sm {
	padding: 8px 0px;
	font-size: 20px;
	letter-spacing: 1px;
	background: transparent;
	border: 1px solid #fff;
	border-radius: 50%;
	height: 50px;
	width: 50px;
}
.t_text {
	padding: 0 15px;
	max-width: 80%;
	margin: 0 auto;
	display: block;
	position: relative;
}
#client_logo {

    background: #f5f5f5;
    text-align: center;

}

/*client_logo*/

#flexiselDemo3 li {
    list-style-type: none;
    display: table-cell;
    vertical-align: middle;
    float: none;
    padding-right: 15px;
}

/*#flexiselDemo1, #flexiselDemo2, #flexiselDemo3 {
display:none;
}*/

.nbs-flexisel-container {
    position:relative;
    max-width:100%;
}
.nbs-flexisel-ul {
    position:relative;
    width:99999px;
    margin:0px;
    padding:0px;
    list-style-type:none;   
    text-align:center;  
    overflow: auto;
}

.nbs-flexisel-inner {
    position: relative;
    overflow: hidden;
    float:left;
    width:100%;
    border:0px solid #ccc;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;  
}

.nbs-flexisel-item {
    float:left;
    margin:0px;
    padding:0px;
    cursor:pointer;
    position:relative;
    line-height:0px;
}
.nbs-flexisel-item img {
    max-width: 100%;
    cursor: pointer;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
}

/*** Navigation ***/

.nbs-flexisel-nav-left, .nbs-flexisel-nav-right {
	padding: 0;
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	position: relative;
	cursor: pointer;
	z-index: 4;
	color: #fff;
	width: 20px;
	height: 20px;
	/* float: none; */
	margin: 20px auto;
	display: inline-block;
}

.nbs-flexisel-nav-left {
    margin-right: 15px;
    background: #035d78;
}

/*.nbs-flexisel-nav-left:before {
    content: "<"
}*/

.nbs-flexisel-nav-left.disabled {
    opacity: 0.4;
}

.nbs-flexisel-nav-right {
    right: 5px;
    background: #a3a5a5;    
}

/*.nbs-flexisel-nav-right:before {
    content: ">"
}*/

.nbs-flexisel-nav-right.disabled {
    opacity: 0.4;
}

/*About section*/

.about-img {
	max-height: 527px;
	height: 100%;
	/*border-radius: 50%;*/
	width: 100%;
	background: #ccc;
	overflow: hidden;
}
.row.main {
    margin-top: 10%;
}
.media-body p {
    line-height: 2.7 !important;
    letter-spacing: .1px !important;
    text-align: justify;
}
.media-body h4 {
    font-size: 23px;
    font-weight: bold;
}
.center-cont{padding-top: 0px;}

/*work-process*/

#work-process {

    padding: 9px 0 0px;
    background: #035d78 /*url(../images/work-process/bg.jpg) no-repeat 0 0*/;
        background-size: auto auto;
    background-size: cover;
    color: #fff;

}

.fa.fa-wicon img {

    max-width: 32px;

}
.fa.fa-wicon{
background: #fff !important;
}



/* Video Section Start Here */

.video-list-thumbs{}
.video-list-thumbs > li{
    margin-bottom:12px;
}
.video-list-thumbs > li:last-child{}
.video-list-thumbs > li > a{
    display:block;
    position:relative;
    background-color: #111;
    color: #fff;
    padding: 8px;
    border-radius:3px
    transition:all 500ms ease-in-out;
    border-radius:4px
}
.video-list-thumbs > li > a:hover{
    box-shadow:0 2px 5px rgba(0,0,0,.3);
    text-decoration:none
}
.video-list-thumbs h2{
    bottom: 0;
    font-size: 14px;
    height: 33px;
    margin: 8px 0 0;
}
.video-list-thumbs .glyphicon-play-circle{
    font-size: 60px;
    opacity: 0.6;
    position: absolute;
    right: 39%;
    top: 31%;
    text-shadow: 0 1px 3px rgba(0,0,0,.5);
    transition:all 500ms ease-in-out;
}
.video-list-thumbs > li > a:hover .glyphicon-play-circle{
    color:#fff;
    opacity:1;
    text-shadow:0 1px 3px rgba(0,0,0,.8);
}
.video-list-thumbs .duration{
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    color: #fff;
    font-size: 11px;
    font-weight: bold;
    left: 12px;
    line-height: 13px;
    padding: 2px 3px 1px;
    position: absolute;
    top: 12px;
    transition:all 500ms ease;
}
.video-list-thumbs > li > a:hover .duration{
    background-color:#000;
}

/* Video Section End Here */

/* Main Footer Css Start here */


    .footer-bs {
    background-color: #1a1a1a;
    padding: 60px 40px;
    color: rgba(255,255,255,1.00);
    margin-bottom: 20px;
    border-bottom-right-radius: 6px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 6px;
}
.footer-bs .footer-brand, .footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { padding:10px 25px; }
.footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { border-color: transparent; }
.footer-bs .footer-brand h2 { margin:0px 0px 10px; }
.footer-bs .footer-brand p { font-size:12px; color:rgba(255,255,255,0.70); }

.footer-bs .footer-nav ul.pages { list-style:none; padding:0px; }
.footer-bs .footer-nav ul.pages li { padding:5px 0px;}
.footer-bs .footer-nav ul.pages a { color:rgba(255,255,255,1.00); font-weight:bold; text-transform:uppercase; }
.footer-bs .footer-nav ul.pages a:hover { color:rgba(255,255,255,0.80); text-decoration:none; }
.footer-bs .footer-nav h4 {
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom:10px;
}

.footer-bs .footer-nav ul.list { list-style:none; padding:0px; }
.footer-bs .footer-nav ul.list li { padding:5px 0px;}
.footer-bs .footer-nav ul.list a { color:rgba(255,255,255,0.80); }
.footer-bs .footer-nav ul.list a:hover { color:rgba(255,255,255,0.60); text-decoration:none; }

.footer-bs .footer-social ul { list-style:none; padding:0px; }
.footer-bs .footer-social h4 {
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.footer-bs .footer-social li { padding:5px 4px;}
.footer-bs .footer-social a { color:rgba(255,255,255,1.00);}
.footer-bs .footer-social a:hover { color:rgba(255,255,255,0.80); text-decoration:none; }


/* Main Footer Css End here */


/*footer*/

#footer {padding-top:0px;padding-bottom: 30px;color: #252424;background: #fff;}
#footer a {color: #252424;}
#footer .bg-dark {background: #f5f5f5;}
#footer .module-small {padding: 30px 0;}
.service.icon-list li {display: block !important;}
#footer .widget .icon-list li a::before {content: "";color: #666666;padding-right: 5px;}
.fa.fa-check-circle {margin-right: 12px;font-size: 1.3em;color: #035d78;}
.categories.icon-list li a {border: 1px solid #ccc;padding: 7px 10px !important;display: inline-block;text-transform: capitalize;}
.col-sm-12.text-center.copyright {

    padding-top: 20px;
    font-size: 1.2em;
    color: #035d78;

}
/*.register-form {padding-top: 50px !important;}*/
.um-s1, .um-s2 {
    display: block !important;
}

/* For Recent Project Images under tab start */

.projects {
    margin-left: 6%;
}
/* For Recent Project Images under tab End */

#role {
    width: 93% !important;
    height: 32px !important;
}
/*form css*/
.form-wrapper {/*background-color:#e9e9e9;*//*background-color:#e9e9e9*/margin-top: 0px;}
.alloforms .um{margin-bottom:0px !important}
.alloforms {	/*border: 1px solid #f2eded;*/	margin-top: 130px;	margin-bottom: 120px;	/*box-shadow: 0px 2px 4px #9b9595;*/	padding: 0 !important;/*box-shadow:0px 4px 11px 0px rgba(0, 0, 0, 0.1);*/}
.alloforms h2 {	text-align: center;	text-transform: uppercase;	margin-bottom: 0;	font-size: 27px;	color: #035d78;
	background-color: #fff;	padding: 30px 10px 10px 10px;	margin-top: 0;}
.alloforms form {	padding: 30px;	background-color: #fff;	padding-top: 20px;	/* border-bottom: 8px solid #035d78; */}
.alloforms .um-98.um {	max-width: 100% !important;}
.alloforms .um-97.um {	max-width: 100% !important;}
.alloforms .um-um_password_id.um{	max-width: 100% !important;}
.alloforms .um .um-form input[type="text"]{border: 1px solid #ddd !important;background-color: #f5f5f5;}
.alloforms .um .um-form input[type="password"]{border: 1px solid #ddd !important;background-color: #f5f5f5;}
.alloforms .um .um-form select#role{border: 1px solid #ddd !important;background-color: #f5f5f5;width:100% !important}
.alloforms .um-row {padding-right:0px !important}
.alloforms form input{font-weight: normal !important;box-sizing: border-box;padding:2px 10px;width: 100%;border: 1px solid #ddd !important;background-color: #f5f5f5;height: 40px !important;border-radius: 0;}
.alloforms .um-form input[type="tel"]{box-sizing: border-box;padding:2px 10px;width: 100%;border: 1px solid #ddd !important;background-color: #f5f5f5;height: 40px !important;border-radius: 0;}
.alloforms form input::placeholder{opacity:1;color:#000}
.alloforms form p  label{width:100%}
.alloforms form textarea{border: 1px solid #ddd !important;background-color: #f5f5f5;height: 120px !important;border-radius: 0;}
.alloforms .panel{margin-bottom:0}
.page-wrapper{padding:0px 0px 50px 0px;margin-top: 30px;}
.alloforms form input[type="submit"]{background: #3ba1da;color:#fff}
/**rajan**/

.outhistory{padding:90px 0px 90px 0px;}
.outhistory h1{margin: 0px 0px 25px 0px;text-transform:uppercase;color: #2c2c2c !important;font-size: 30px !important;}
.team_img {	margin-top: 50px;}
.content h4{font-size: 18px;font-family:'Montserrat', sans-serif;font-weight: 400;color:#333333;text-transform:capitalize}
.content p{font-size: 15px;line-height: 26px; font-weight: 400;color:#333;}
.tick_lines{margin-top: 40px;}
.content.client h1{    color: #2c2c2c;    font-size: 30px;    text-transform: uppercase;    text-align: center;}
.tick_heading{float:left;padding-right: 12px;}
.content.tick_content{margin-top: 0px;}
.tick_heading h1{font-size: 16px;font-family: 'Lato', sans-serif;font-weight: 400;padding-top: 20px;}
.team_images {text-align: center;	padding: 70px 0;	background: #f5f5f5;}
.team_images h2 {color: #2c2c2c !important;font-size: 30px !important;text-transform: uppercase !important;text-align: center;}
.team_img img{max-width: 180px;border-radius: 50%;width: 100%;height: 180px;}
.content.team{margin: 0px;text-align: center;margin-top: 35px !important}
.content.team h1{font-size: 18px;}
.content.team h6{font-size: 16px;font-weight:300}
.asst-logo{background: #fff;
text-align: center;
padding: 90px 0px 50px 0px !important}
.asst-logo ul li img{max-width:100px !important}
/*.contactform p{width:100%;display:inline}
.contactform label {	width: 46% !important;	float: left;	margin: 9px 14px;}*/
.register .um-field {	position: relative;	padding: 15px 0 0 0;	width: 46.5%;
	float: left;	margin-right: 10px;	margin-left: 10px;}
.register .um-button{margin-top:25px !important;}
.register input[type="submit"]{margin-left: 8px !important;}
.register a.um-button{margin-left: -7px !important;}
.register .um-field select#role{height: 34px !important;}
.row.homerent-wrapper {padding: 50px 0px;}


.contact-top {/*min-height: 300px;	background-color: #f2f2f2;	max-width: 260px;*/	padding: 80px 15px;	text-align: center;}
.contact-top img{margin-bottom:20px;}
.contact-top p{font-size:22px;color:#2c2c2c;margin-bottom: 10px;font-family: 'Montserrat', sans-serif;}
.contact-top label{font-size:18px;color:#2c2c2c;font-family: 'Lato', sans-serif;font-family:400;width:100%;}
.contact-top span{font-size:16px;color:#686868;font-family: 'Lato', sans-serif;font-family:400;}
.contactmsg{width: 95%;}
.mapwidth{width:100%;height: 483px;}
.contactbottom textarea{font-size:22px;color:#7d7d7d;font-family: 'Lato', sans-serif;font-weight:300;font-style:italic;width:100%;background-color:#e6e6e6;border:1px solid #979797;margin-bottom:25px;height:140px;padding:2px 15px;}
.contactbottom input[type="submit"]{text-align: center;font-size:22px;color:#7d7d7d;font-family: 'Lato', sans-serif;font-weight:400;max-width: 350px !important;
margin: auto;display: block;}
.contatfooter{background-color:#f2f2f2;padding:50px 0px;}
.contatfooter-inner{max-width: 250px;width: 250px;text-align: center;width:250px;background-color:#fff;padding:20px;max-width: 250px;}
.contatfooter-inner h2{height: 40px;padding: 5px 5px;background-color:#1c71bf;color:#f2f2f2;font-size:20px;font-family: 'Lato', sans-serif;font-weight:400;text-align:center}
.contatfooter-inner button{height: 40px;width:145px;border:0;background-color:#5f9734;color:#f2f2f2;font-size:20px;font-family: 'Lato', sans-serif;font-weight:400;text-align:center;margin-top:15px}
.contactform-wrapper{margin-top: 10%;}
.contactform form{background-color:#fff;display:inline-block}
.contactform label{width:45%;float: left;margin: 9px 14px;}
.contactform label {}
.caontactmsg{width:94.5% !important}
.contactbottom .alloforms {	/*border: 1px solid #f2eded;*/	margin-top: 50px;	margin-bottom: 50px;padding: 0 !important;}
.contactform-wrapper iframe{margin-bottom:-5px;}
.daashboard-wrapper{padding:80px 0px;margin-top: 0px;}
.daashboard-wrapper .panel-primary > .panel-heading{background-color: #3ba1da !important;border-bottom: 5px solid #0e7fbf;height: 45px;}
.daashboard-wrapper .panel-primary {    border-color: #eaeaea;    background-color: #f5f5f5;}
.daashboard-wrapper h2{margin-bottom:30px;}
.formborder input{border:0;width:100%;padding:0px 10px;}
.formborder{margin-top: 10px;border-bottom: 1px solid #ccc;width: 100%;display: inline-block;}
.formborder label{height: 40px;width: 100%;padding-left: 10px;font-weight: 300;font-size: 15px;}
.formborder input.first{border-left:1px solid #ccc;}
.formborder input.last{border-right:1px solid #ccc;}
.formborder input.first-last{border-right:1px solid #ccc;border-left:1px solid #ccc;}
.formborder::after{border-left:1px solid #ccc}
.formborder .col-sm-2{padding:0}.formborder .col-sm-3{padding:0}.formborder .col-sm-4{padding:0}.formborder .col-sm-5{padding:0}.formborder .col-sm-6{padding:0}
.formborder .col-sm-12{padding:0}
.homerent-wrapper h3{color: #51aaec;}
.homerent-wrapper h4{color: #000;}
.homerent-wrapper span {	padding-top: 15px;	display: inline-block;	text-align: right;width: 85%;}
.checkboxborder{border-bottom:0 !important}
/*checkbox*/
.bg {  height: 100%;  display: flex;  align-items: center;  justify-content: center;  flex-direction: column;}
.span_pseudo, .chiller_cb span:before, .chiller_cb span:after {  content: "";  display: inline-block;  background: #fff;  width: 0;
  height: 0.2rem;  position: absolute;  transform-origin: 0% 0%;}
.chiller_cb {  position: relative;  height: 2rem;  display: flex;  align-items: center;}
.chiller_cb input {  display: none;}.chiller_cb input:checked ~ span {
  background: #51aaec;  border-color: #51aaec;}.chiller_cb input:checked ~ span:before {
  width: 2rem;  height: 0.15rem;  transition: width 0.1s; transition-delay: 0.3s;}
.chiller_cb input:checked ~ span:after {  width: 9px;  height: 0.15rem;  transition: width 0.1s;  transition-delay: 0.2s;}
.chiller_cb input:disabled ~ span {  background: #51aaec;  border-color: #51aaec;}
.chiller_cb input:disabled ~ label {  color: #51aaec;}
.chiller_cb input:disabled ~ label:hover {  cursor: default;}.chiller_cb label {line-height: 40px;
  padding-left: 5rem;  position: relative;  z-index: 2;  cursor: pointer;  margin-bottom:0;color: #51aaec;}
.chiller_cb span {	display: inline-block;	width: 27px;	height: 1.2rem;	border: 2px solid #51aaec;	position: absolute;
	left: 0;	transition: all 0.2s;	z-index: 1;	box-sizing: content-box;}
.chiller_cb span::before {	transform: rotate(-55deg);	top: 22px;	left: 8px;}
.chiller_cb span::after {	transform: rotate(35deg);	bottom: 9px;	left: 0.2rem;}
.homegallery-wrapper {padding: 0px ;margin-top: 30px;}
.hmgal-heading {background: linear-gradient( rgba(2, 0, 0, 0.45), rgba(0, 0, 0, 0.39)), url('http://towercleaningsystems.mobilytedev.com/wp-content/uploads/2018/05/RSP_7240.jpg');
	background-size: cover !important;	background-position: center bottom !important;}
.hmgal-heading h1{padding: 65px 0px;color:#fff !important;font-size:36px;}
.homegal-part{padding:100px 0px 100px 0px;background-color:#f2f2f2;width:100%;display:inline-block}
.homegallery-inner {cursor:pointer;margin-bottom:30px;	background-color: #fff;	padding: 15px;	box-shadow: 0 .1rem 1rem rgba(0,0,0,.1);transition: .3s box-shadow ease, .3s transform ease;transform: translateY(0);}
.homegallery-inner:hover{box-shadow: 0 .4rem 3.3rem rgba(0,0,0,.3);transform: translateY(-.2rem);}
.homegallery-inner h2{min-height: 45px;font-size:20px;font-weight:500;color:#000}
.homegallery-inner p{font-size:14px;font-weight:normal;color: #212529;opacity: .65;}
.page-paginations{text-align:center}
.pagination > li > a, .pagination > li > span{border-radius: 100%;margin: 2px;}
.inservice{margin:0;padding:0;margin-top:50px}
.inservice li label{float: left;text-align: center;text-align: center;width:35px;height:35px;border-radius:50%;color:#fff;font-size:18px}
.homegallery-inner img{margin: auto;display: block;}
.inservice li {	margin-top: 5px;	color: #000;	list-style-type: none;	background-image: url(http://towercleaningsystems.mobilytedev.com/wp-content/uploads/2018/05/check.png);
	background-size: 35px 35px;	background-repeat: no-repeat;}
.inservice li p{border: 1px solid #cff0ff;
border-radius: 5px;display: inline-block;min-width: 40%;color: #000;background-color: #f2f2f2;font-size: 16px;padding:5px 60px 5px 15px;margin-left: 50px;}
.includhead{margin-top:60px }
.sub-menu{display:none}
.navbar-nav li.menu-item-has-children > a:after {
 color: #fff;
 content: ' ▼';
 font-size: 10px;
 vertical-align: 1px;
}
.navbar-nav li.menu-item-has-children > a:after {
 color: #222;
content: ' ▼';
 font-size: 10px;
 vertical-align: 1px;
}
#main-menu.navbar-default .sub-menu{top:87px;background-color:#f2f2f2 !important;padding: 5px 20px !important;}
#main-menu.navbar-default .sub-menu > li > a {	border-top: 0;	padding: 15px 0;	color: #777;display: inline-block;}
#main-menu.navbar-default .sub-menu > li > a:hover{text-decoration:none;color:#000 !important}
.works-grid.works-hover-w .work-title {	color: #fff !important;}
.pagenavd {
	margin: 0;
	padding: 0;
}
.pagenavd li {
	width: 115px;
	border: 2px solid #36bdf0;
	border-radius: 27px;
	padding: 10px 0px;
	list-style-type: none;
	font-size: 16px;
	
	display: inline-block;
	text-align: center;
}
.pagenavd a{color: #36bdf0 !important;}
.pagenavd a:hover{text-decoration:none}
.servicelistings{background-color:#fff;margin-bottom:20px;width: 100%;display: inline-block;padding:15px 15px 15px 0px;border-bottom: 5px solid #ececec;}
.servicelistings h1{margin-top:0;margin-bottom:10px;font-size:26px;font-weight:bold;}
.servicelistings h1 a{color:#0482b3}
.servicelistings p{color:#333}
.service-wrapper{background-color:#f2f2f2}
.blogShort{margin-top: 25px;width:100%;display:inline-block;}
.servicedtl-wrapper{background-color: #f2f2f2;margin-top: 40px;padding: 100px 0px;border-top: 1px solid #f1f1f1;}
.servicesdetail img{width:100%}
.servicesdetailtext {	background-color: #fff;	width: 100%;	display: inline-block;	padding: 20px;	box-shadow: 0px 2px 6px #ccc;}
.servicesdetailtext h1{font-size:26px;font-weight:bold;color:#0482b3;padding-bottom:10px;}
.servicesdetailtext h2{font-size:26px;font-weight:bold;color:#0482b3;padding-bottom:10px;}
.servicesdetailtext p{font-size:14px;color:#333}
.work-item .work-image img{max-height:305px;}
/*responsive media*/
/*
@media screen and (max-width: 991px) {

#header #main-menu.navbar-default .navbar-nav > li > a {
	max-width: 100% !important;
}	
.navbar-toggle {	display: block !important;}
.navbar-header {	float: none !important;}
}*/
@media screen and (max-width: 767px) {
	.navbar-default .navbar-collapse{border-color:transparent}
	.navbar.navbar-default .navbar-toggle {   margin-top: 25px !important;}
	#main-menu.navbar-default .sub-menu > li > a{text-transform:uppercase;font-size: 15px;    padding-bottom: 25px;height: 50px;}
	.sub-menu li{list-style-type:none;text-align:center}
	.alloforms form {    padding: 5px;}
	.contact-top{padding: 30px 15px;}
	.filter > li{margin:0 !important}
	.section-header .section-title{font-size: 24px;}
	#main-slider .slider-inner h2{font-size:18px !important}
	.navbar.navbar-default{padding-bottom: 5px;}
#header #main-menu.navbar-default .navbar-nav > li > a{max-width:100% !important}	
.chiller_cb{margin-top:15px;}	
.chiller_cb label{padding-left: 5rem !important;margin-top: 0 !important;}	
.homerent-wrapper span{text-align:left !important}	
.homerent-wrapper h3{padding:0px 15px !important}	
.contactform label {margin: 9px 10px;}	
.formborder{border-bottom:0;}	
.formborder input{height:35px;}	
.homerent-wrapper h4{padding:0px 15px !important}	
.homerent-wrapper p{padding:0px 15px !important}	
.formborder label {	height: auto;	width: 100%;	padding-left: 0px;margin-top: 15px;}
.formborder input.first {border-left: 0px solid #ccc;}
.formborder .col-sm-2{padding:inherit}.formborder .col-sm-3{padding:inherit}.formborder .col-sm-4{padding:inherit}.formborder .col-sm-5{padding:inherit}.formborder .col-sm-6{padding:inherit;padding: 0px 15px !important;}.formborder .col-sm-12{padding:inherit;padding: 0px 15px !important;}
.formborder .col-xs-2{padding:0px 15px !important}.formborder .col-xs-3{padding:0px 15px !important}.formborder .col-xs-4{padding:0px 15px !important}.formborder .col-xs-5{padding:0px 15px !important}.formborder .col-xs-6{padding:0px 15px !important}
.formborder input {    border: 1px solid #ccc !important;}
@media screen and (max-width: 479px) {
	.bulb_img img{width:100%}
	.top-bar li a{font-size:10px !important;}
	.homegal-part .col-xs-6{width:100% !important}
.chiller_cb label {	padding-left: 4rem !important;}	
.contactbottom .alloforms{margin-bottom:0 !important}	
.formborder .col-xs-6{width:100% !important}
.contactform label{width:100% !important;   margin: 15px 0px !important;}
}
