body {background: #f7f7f7;font-family: 'Roboto Mono', monospace;font-family: 'Karla', sans-serif;}
h1, h2, h3, h4, h5, h6 {font-family: 'Karla', sans-serif;}


/*---- start 22-06-2018 css changes ----*/

ul.nav.nav-tabs.custom-tab a {
    text-decoration: none !important;
}
ul.nav.nav-tabs.custom-tab a:hover {
    color: #d0021b !important;
}

.cards-item.expand--open iframe {
    width: 100%;
    height: calc(100vh - 134px) !important;
}

.top-bar ul.social-icons li {
    display: inline-block;
    margin: 15px 15px 0px 0;
    font-size: 15px !important;
    color: rgba(255,255,255,.59);
}
.top-bar ul.social-icons li:last-child{margin-right: 0 !important;}

.navsWrapper {
    position: fixed;
    z-index: 999;
    width: 100%;
	top: 0;
}

.videos-section a.video.card-section-link {
    position: absolute;
    width: 100%;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 100%;
    bottom: 0;
    margin: auto;
    cursor: pointer;
    z-index: 100;
}
.navbar-brand img { width:300px;}
.top-bar {background: BLACK;COLOR: white;padding: 0 15px;}
.navsWrapper ul#menu-top-menu-2 .current-menu-item a {color: #fff;}
.navsWrapper ul#menu-top-menu-2 a {
    display: block;
    text-decoration: none;
    color: rgba(255,255,255,.59);
    padding: 35px 15px;
    font-family: "Roboto Mono",monospace;
    font-size: 13px;
    font-weight: 500;
}
.year-bar {background: #fff;margin-top: 138px;}
.year-bar ul {
    margin: 0 auto;
    text-align: center;
    padding: 0;
    width: auto;
    display: block;
	border-bottom: 0;
}
.year-bar ul li {
    display: inline-block;
    list-style: none;
    font-size: 18px;
    margin: 0;
    padding: 25px;
}
.year-bar ul li.active a {color: #1a1a1a;}
.year-bar ul li a {
    color: rgba(0,0,0,.4);
    font-family: "Roboto Mono",monospace;
    font-size: 13px;
    font-weight: 400;
    line-height: 1;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
a.readmore {
    display: block;
    background: #cd3856;
    color: #fff;
    padding: 35px 50px;
    margin-left: 25px;
    font-family: "Roboto Mono",monospace;
    font-size: 13px;
    font-weight: 400;
    text-decoration: none;
}
.mater-section {
    margin: 100px 0;
}
.mater-section .textAndImage-overlap {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.textAndImage-overlap {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}
.order-lg-1 {
    display: inline-block;
    width: 60%;
    -webkit-transform: translateX(25px);
    transform: translateX(25px);
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}
.mater-section .order-lg-1 {
    width: calc(60% - 30px);
    -webkit-transform: none;
    transform: none;
}
.order-lg-2 {
    width: 40%;
    margin-top: 8%;
    -webkit-transform: translateX(-25px);
    transform: translateX(-25px);
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}
.mater-section .order-lg-2 {
    width: calc(40% - 30px);
    margin-top: 0;
    -webkit-transform: none;
    transform: none;
}
.p-1 {
    width: 100%;
    padding-bottom: 61.25%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
}
body p {
    line-height: 1.7;
    letter-spacing: .1px;
}
section.videos-section {
    margin: 0 0 100px 0;
    padding: 0;
}
.dropdown-filter * {
    display: inline;
    margin: 5px;
}
.filterDropdown-pretitle {
    display: inline-block;
    font-size: 12px;
    font-family: "Roboto Mono",monospace;
    color: #1a1a1a;
    margin-bottom: 35px;
    font-weight: 400;
}
.filterDropdown-pretitle::before {
    content: '';
    display: inline-block;
    width: 23px;
    height: 19px;
    margin-right: 5px;
    background-image: url(http://tedxtoronto.com/wp-content/themes/twg/images/filters.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    vertical-align: bottom;
}
.dropdown-filter select {
    width: 10rem;
    font-size: 12px;
    border-radius: 0;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 8px 25px 8px 10px;
	position: relative;
}
.filterDropdown-selectWrapper {position: relative;}
.filterDropdown-selectWrapper:after {
    content:'';
    position: absolute;
    top: 2px;
    right: 20px;
    z-index: 0;
    width: 7px;
    height: 7px;
    border: solid #d0021b;
    border-width: 0 2px 2px 0;
    display: inline-block;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.dropdown-filter {
    display: inline-block;
    font-size: 12px;
    font-family: "Roboto Mono",monospace;
    color: #1a1a1a;
    margin-bottom: 0px;
    font-weight: 400;
}
.dropdown-filter .fa-sliders-h:before {
    content: "\f1de";
    font-size: 15px;
    color: #757373;
}
/* --------- Simple Zoom Effects ----------*/

.row1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /* -webkit-box-orient: horizontal; */
    /* -webkit-box-direction: normal; */
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    margin-left: -20px;
    width: 100%;
}

*, :after, :before {
    -webkit-box-sizing: border-box;
    /* box-sizing: border-box; */
    /* -webkit-font-smoothing: antialiased; */
    -moz-osx-font-smoothing: grayscale;
}
.card-sec {
    margin-bottom: 30px;
    position: relative;
	-webkit-box-shadow: 0 30px 40px -20px rgba(0,0,0,.3);
    box-shadow: 0 30px 40px -20px rgba(0,0,0,.3);
}
    
.bg-image{
    position:relative;
    overflow:hidden;
}
.card-sec.cool-link:hover img{
        -webkit-transform: scale(1.05);
    transform: scale(1.05);
}
.bg-image img{
    -webkit-transform: scale(1);
    transform: scale(1);
	    -webkit-transform-origin: top;
    transform-origin: top;
}
.card-sec .card-fade {
    height: auto;
    background: -webkit-gradient(linear,left top,left bottom,color-stop(20%,transparent),color-stop(40%,#000));
    background: linear-gradient(transparent 20%,#000 60%);
    position: absolute;
    bottom: 0px;
    width: 100%;
}
#div1 {
    display: flex;
    flex-flow: row wrap;
    width:100%;
}
/*#div1 .cards-item.expand--open {
transition: transform 0.25s ease;
  cursor: zoom-in;
}*/
#div1 .cards-item.expand--open {
    display: block !important;
    position: fixed!important;
    z-index: 998;
    overflow: hidden;
    -webkit-transition: all .7s ease-in-out!important;
    transition: all .7s ease-in-out!important;
/*    transform: scale(2);
    cursor: zoom-out;*/
}


#div2 {
    display: flex;
    flex-flow: row wrap;
    width:100%;
}
/*#div1 .cards-item.expand--open {
transition: transform 0.25s ease;
  cursor: zoom-in;
}*/
#div2 .cards-item.expand--open {
    display: block !important;
    position: fixed!important;
    z-index: 998;
    overflow: hidden;
    -webkit-transition: all .7s ease-in-out!important;
    transition: all .7s ease-in-out!important;
/*    transform: scale(2);
    cursor: zoom-out;*/
}


#div0 {
    display: flex;
    flex-flow: row wrap;
    width:100%;
}
/*#div1 .cards-item.expand--open {
transition: transform 0.25s ease;
  cursor: zoom-in;
}*/
#div0 .cards-item.expand--open {
    display: block !important;
    position: fixed!important;
    z-index: 998;
    overflow: hidden;
    -webkit-transition: all .7s ease-in-out!important;
    transition: all .7s ease-in-out!important;
/*    transform: scale(2);
    cursor: zoom-out;*/
}




.cool-link{background: black;}
.cool-link::after {
    content: '';
    display: block;
    width: 0;
    height: 5px;
    background: red;
    transition: width .3s;
    position: absolute;
    bottom: 0px;
}
[data-expand-open], [data-expand-close] {
  cursor: pointer;
}

.cards-item {
    width: calc(33.333% - 20px);
    background-color:transparent;
    margin-left: 20px;    
    position: relative;
    opacity: 0;
}
.card-leftCorner {
    background-color: #d0021b;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
}
.card-container--talk .card-leftCorner .triangleWhite--right {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6.5px 0 6.5px 11.3px;
    border-color: transparent transparent transparent #fff;
    margin: auto;
}
.card-container--talk .card-fade {
    height: 200%;
    background: -webkit-gradient(linear,left top,left bottom,color-stop(20%,transparent),color-stop(40%,#000));
    background: linear-gradient(transparent 20%,#000 40%);
}

.card-fade {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.card-container--talk {
    padding-bottom: 120%;
    margin-bottom: 40px;
}
.card-container {
    width: 100%;
    -webkit-box-shadow: 0 30px 40px -20px rgba(0,0,0,.3);
    box-shadow: 0 30px 40px -20px rgba(0,0,0,.3);
    position: relative;
    overflow: hidden;
}
.card-container:hover .card-image {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}
.card-image {
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    -webkit-transform-origin: top;
    transform-origin: top;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.card-content {
    width: 100%;
    min-height: 125px;
    padding: 20px 20px 30px;
    position: absolute;
    bottom: 0;
    left: 0;
}
.card-meta {
    font-family: "Roboto Mono",monospace;
    font-size: 13px;
    margin-bottom: 10px;
    color: #fff;
}
.u-bold {
    font-weight: 700;
}
.card-title {
    display: block;
    margin: 0;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.28;
    text-decoration: none;
}
.card-video {
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
[data-expand-close], [data-expand-open] {
    cursor: pointer;
}

.card-close {
    width: 50px;
    height: 50px;
    opacity: 0;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.card-container:hover::after {
    width: 100%;
}


.card-container::after {
    display: block;
    content: "";
    width: 0;
    height: 6px;
    background: #d0021b;
    position: absolute;
    bottom: 0;
    left: 0;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}


.body--lock {
  overflow: hidden;
}
.cards {
  margin: $section-margin 0;
  @include media (palm) {
    margin: $section-margin-palm 0;
  }

  &-container {
    display: flex;
    flex-flow: row wrap;
    margin-left: -20px;
  }

  &-item {
    width: calc(33.333% - 20px);
    background-color: grey;
    margin: {
      left: $gutter;
      bottom: $gutter * 2;
    }
    position: relative;

    @include media(ipad) {
      width: calc(50% - 20px);
      margin-bottom: 25px;
    }

    @include media(phablet) {
      width: 100%;
    }
  }

  &-item--double {
    width: calc(66% - #{$gutter});
  }

  &-item--featured {
    width: 100%;
    margin: 0;
  }
}

.card {
  &-container {
    width: 100%;
    box-shadow: 0 30px 40px -20px rgba(black, 0.3);
    position: relative;
    overflow: hidden;

    .expand--open & {
      box-shadow: none;

      &::after {
        animation: hoverLineClose 0.3s ease-in-out;
      }

      &:hover {
        &::after {
          width: 0;
        }
      }
    }

    @include media(aboveIpad) {
      &::after {
        display: block;
        content: "";
        width: 0;
        height: 6px;
        background: $primary;
        position: absolute;
        bottom: 0;
        left: 0;
        transition: all 0.3s ease-in-out;
      }

      &:hover {
        &::after {
          width: 100%;
        }

        .card-image {
          transform: scale(1.05);
        }
      }
    }
  }

  &-meta {
    font-family: $secondaryFont;
    font-size: 13px;
    margin-bottom: 10px;
    color: #fff;
  }

  &-video {
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    iframe {
      width: 100%;
      height: 100%;
    }
  }

  &-image {
    display: block;
    background: {
      size: cover;
      repeat: no-repeat;
      position: center center;
    };
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform-origin: top;
    transition: all 0.3s ease-in-out;
  }

  &-fade {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  &-close {
    width: 50px;
    height: 50px;
    opacity: 0;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;

    &::before,
    &::after {
      display: block;
      content: '';
      width: 100%;
      height: 2px;
      background-color: #fff;
      position: absolute;
      top: 50%;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }

  &-content {
    width: 100%;
    min-height: 125px;
    padding: 20px 20px 30px;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  &-title {
    display: block;
    margin: 0;
    color: #fff;
    font-size: 18px;
    font-weight: normal;
    line-height: 1.28;
    text-decoration: none;
  }

  &-text {
    p {
      margin-bottom: 0;
    }
  }

  &-leftCorner {
    background-color: $red;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
  }

  &-rightCorner {
    background-color: $darkgrey;
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px 15px;
    color: #fff;
    font-family: $secondaryFont;
    font-size: 14px;

    a {
      color: #fff;
    }
  }

}

@keyframes hoverLineClose {
  0%{width: 100%}
  100%{width: 0;}
}

.card-excerpt .card-title {
    font-size: 16px !important;
    line-height: 24px !important;
    font-weight: normal;
  }
.card-close {
    width: 50px;
    height: 50px;
    opacity: 0;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}
.card-close::before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.card-close::after, .card-close::before {
    display: block;
    content: '';
    width: 100%;
    height: 2px;
    background-color: #fff;
    position: absolute;
    top: 50%;
}
.card-close::after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

  


/*---- end 22-06-2018 css changes ----*/

ul.social-icons {
    margin-bottom: 0px;
    float: right;
    padding-left: 0;
}
ul.social-icons li {
    display: inline-block;
    margin: 0 30px 10px 0;
    font-size: 15px !important;
    color: rgba(255,255,255,.59);
}

.top-date-info {
    padding: 15px 0;
    margin: 0;
    color: #fff;
    font-size: 12px;
}

.readmore {
    background: #ef3657;
    color: white !important;
    padding: 36px 40px;
}
.navbar-custom {
    background-color: #1a1a1a;
    padding-top: 0;
    padding-bottom: 0;
    padding: 0px 0px 0px 15px !important;
    min-height: 90px;
}

.navbar-custom .navbar-nav .nav-item .nav-link {
    text-transform: capitalize;
    font-size: .8rem;
    letter-spacing: .1rem;
    font-weight: normal;
}



button.navbar-toggler {
    display: block;
    width: 60%;
    border: none;
}
.navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    background-size: 100% 100%;
    float: right;
}





li a { font-family: 'Roboto Mono', monospace;
}
i.fas.fa-play {
    position: absolute;
    top: 0;
    left: 0;
    background: red;
    color: #fff;
    padding: 15px;
}

.cool-link {
    display: inline-block;
    color: red;
    text-decoration: none;
    width: 100%;
    padding: 0;
}
.bg-image {
    overflow: hidden;
    padding-bottom: 40px;
}
.bg-image img {
    width: 100%;
}
.card-sec img{ transition: all .2s ease-in-out; }
.card-sec img:hover { transform: scale(1.1); }



.cool-link:hover::after {
    width: 100%;
    //transition: width .3s;
}

.videos-section img.img-fluid {
    min-height: 400px;
	
}

.headerBlock-content .h2 {
word-spacing: -10px;
    font-size: 48px;
    font-weight: 500 !important;
    font-family: "Roboto Mono",monospace;
margin-bottom: 50px;
}

/* For About Us Page css Start here */

.pageHero {
    background: url(http://tedlike.mobilytedev.com/wp-content/uploads/2018/06/verne-ho-23881@2x-1024x285.png) no-repeat scroll center center;
    height: 400px;
    /* margin-top: 136px; */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    width: 100%;
}


.pageHero-info {
    position: absolute;
    top: 40%;
    /*-webkit-transform: translateY(-50%);
    transform: translateY(-50%);*/
}

.pageHero-title {
  font-size: 48px;
    color: #fff;
}
.pageHero-subtitle {
    color: #9b9b9b;
    line-height: 1.7;
    letter-spacing: .1px;
}
.upcase {
    text-transform: uppercase;
}
.mono {
    font-family: "Roboto Mono",monospace;
}
.overlayimg {
    position: absolute;
    width: 100%;
    top: 1px;
    left: 0px;
    right: 0px;
    height: 100%;
    background: black;
    opacity: 0.7;
}

.textAndImage {
    margin: 190px 0;
}
.textAndImage-overlap {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}
.textAndImage-overlapContent {
    display: inline-block;
    width: 60%;
    -webkit-transform: translateX(25px);
    transform: translateX(25px);
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}
.textAndImage-media {
    width: 100%;
    padding-bottom: 61.25%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
}
.textAndImage-caption {
    color: #1a1a1a;
    font-family: "Roboto Mono",monospace;
    font-size: 12px;
    font-weight: 400;
}
.textAndImage-overlapText {
    width: 40%;
    margin:auto;
    -webkit-transform: translateX(-25px);
    transform: translateX(-25px);
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}
.textAndImage-overlap--opened .textAndImage-overlapContent, .textAndImage-overlap:hover .textAndImage-overlapContent {
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
}
.textAndImage-overlap--opened .textAndImage-overlapText, .textAndImage-overlap:hover .textAndImage-overlapText {
    -webkit-transform: translateX(20px);
    transform: translateX(20px);
}
.button {
    display: inline-block;
    padding: 15px 30px;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #d0021b;
    background-image: -webkit-gradient(linear,right top,left top,from(transparent),color-stop(50%,transparent),color-stop(50%,#1a1a1a),to(#1a1a1a));
    background-image: linear-gradient(to left,transparent,transparent 50%,#1a1a1a 50%,#1a1a1a);
    background-position: 100% 0;
    background-size: 200% 100%;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    color: #fff;
    font-family: "Roboto Mono",monospace;
    font-size: 13px;
    border: none;
    text-decoration: none;
    text-align: center;
}


.textBlock {
  background: url('http://tedlike.mobilytedev.com/wp-content/uploads/2018/06/Screen-Shot-2018-03-15-at-2.48.52-PM.png') no-repeat scroll center center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.textBlock-textGroup {
    max-width: 600px;
    margin: 0 auto;
    margin: auto;
    padding: 140px 30px 100px;
    z-index: 0;
}
.textBlock h4, .textBlock p {
    color: #fff;
}


/* For About Us Page css End here */

ul#menu-footer-nav li a {
    font-size: 13px;
    color: #a5a5a5;
    text-decoration: none !important;
}
.footer-bs {
    background-color: #1a1a1a;
	padding: 60px 40px;
	color: rgba(255,255,255,1.00);
	margin-bottom: 20px;
	border-bottom-right-radius: 6px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 6px;
}
.footer-bs .footer-brand, .footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { padding:0; }
.footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { border-color: transparent; }
.footer-bs .footer-brand h2 { margin:0px 0px 10px; }
.footer-bs .footer-brand p { font-size:12px; color:rgba(255,255,255,0.70); }

.footer-bs .footer-nav ul.pages { list-style:none; padding:0px; }
.footer-bs .footer-nav ul.pages li { padding:5px 0px;}
.footer-bs .footer-nav ul.pages a { color:rgba(255,255,255,1.00); font-weight:bold; text-transform:uppercase; }
.footer-bs .footer-nav ul.pages a:hover { color:rgba(255,255,255,0.80); text-decoration:none; }
.footer-bs .footer-nav h4 {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-bottom:10px;
}

.footer-bs .footer-nav ul.list { list-style:none; padding:0px; }
.footer-bs .footer-nav ul.list li { padding:5px 0px;}
.footer-bs .footer-nav ul.list a { color:rgba(255,255,255,0.80); }
.footer-bs .footer-nav ul.list a:hover { color:rgba(255,255,255,0.60); text-decoration:none; }

.footer-bs .footer-social ul { list-style:none; padding:0px; }
.footer-bs .footer-social h4 {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 3px;
}
.footer-bs .footer-social li { padding:5px 4px;}
.footer-bs .footer-social a { color:rgba(255,255,255,1.00);}
.footer-bs .footer-social a:hover { color:rgba(255,255,255,0.80); text-decoration:none; }

.footer-bs .footer-ns h4 {
    font-size: 23px;
    text-transform: capitalize;
    letter-spacing: 1px;
    margin-bottom: 25px;
    font-family: Karla,sans-serif;
    font-weight: 700 !important;
    color: #fff !important;
}
.footer-bs .footer-ns p {
    font-size: 13px;
    color: #fff;
    font-weight: 300 !important;
    font-family: 'Roboto Mono', monospace !important;
}
.footer-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
}
.footer-brand{
max-width: 460px;
width: calc(100%);
}
.footer-ns {
    max-width: 450px;
}
.footer-brand img {
max-width: 200px;
margin-bottom: 30px;
}
.footer-bs ul {
    -webkit-column-count: 3;
    column-count: 3;
    padding: 0;
    margin: 0;
}
.footer-bs ul li {
    list-style-type: none;
    font-size: 13px;
    font-family: "Roboto Mono",monospace;
    margin-bottom: 25px;
    text-transform: uppercase;
}

.tnp-field label {
    display: none;
}
input.tnp-email {
    padding: 12px 10px 12px 0;
    margin-right: 15px;
    min-width: 304px;
    border: 0;
    background: transparent;
    border-bottom: 1px solid #ccc;
    font-size: 13px;
    color: #fff;
    font-family: 'Roboto Mono', monospace;
}

.tnp-field input[type="submit"] {
    display: inline-block;
    padding: 15px 30px;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #cd3856;
    background-image: -webkit-gradient(linear,right top,left top,from(transparent),color-stop(50%,transparent),color-stop(50%,#1a1a1a),to(#1a1a1a));
    background-image: linear-gradient(to left,transparent,transparent 50%,#1a1a1a 50%,#1a1a1a);
    background-position: 100% 0;
    background-size: 200% 100%;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    color: #fff;
    font-family: "Roboto Mono",monospace;
    font-size: 13px;
    border: none;
    text-decoration: none;
    text-align: center;
}
.tnp-field input[type="submit"]:focus, .tnp-field input[type="submit"]:hover {
    color: #fff;
    background-position: 0 0;
    background-color: transparent;
}


.copyright {
    border-top: 1px solid #ccc;
    display: table;
    width: 100%;
}
.footer-last {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
	
	img.footer-twgLogo {
    width: 45px;
}
.footer-twg.float-right{margin: 20px 0;
font-size: 14px;}
.footer-copyright {
    display: inline-block;
    font-size: 14px;
    letter-spacing: .3px;
}
@media (max-width: 768px) { 

.card-fade {
    height: 50%;
    background: -webkit-gradient(linear,left top,left bottom,color-stop(20%,transparent),color-stop(40%,#000));
    background: linear-gradient(transparent 20%,#000 40%);
    position: absolute;
    bottom: 0;
    width: unset;
    padding: 100px 10px;
}

.input-group * {
   /* display: table;
    width: 100%;*/
    /*margin: 0px !IMPORTANT;*/
}
.footer-bs {
    background-color: #1a1a1a;
    padding:20px 15px;
    color: rgba(255,255,255,1.00);
    margin-bottom: 20px;
    border-bottom-right-radius: 6px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 6px;
}


.readmore {
    background: #ef3657;
    color: white !important;
    padding: 5px 20px;
    line-height: 2.2;
}
li.nav-item {
    float: left;
    margin-right: 30px;
    text-align: right;
}
nav.navbar.navbar-expand-lg.navbar-dark.navbar-custom {
    padding: 15px !important;
}
}

.scrollspeed{    transform: translateY(-76%) !important;
    top: 76% !important;}
.circle0 {
  background:transparent;
  transition: all 1.5s linear;
}

.modal-dialog { width:100% !important;
max-width:100% !important;}

.modal-content {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: transparent !important;
    background-clip: padding-box;
    border: none !important; 
    border-radius: .3rem;
    outline: 0;
}


iframe {
  /* optional */
  width: 100%;
  height: 100vh; 
}

.col-md-3.col-sm-4.col-xs-6.my-sub-img-class {
padding: 10px;
}

.navbar-toggler:focus,
.navbar-toggler:active {
    outline: 0;
}

.navbar-toggler span {
   display: block;
   background-color: #fff;
   height: 1px;
   width: 30px;
   margin-top: 6px;
   margin-bottom: 6px;
   -webkit-transform: rotate(0deg);
   -moz-transform: rotate(0deg);
   -o-transform: rotate(0deg);
   transform: rotate(0deg);
   position: relative;
   left: 0;
   opacity: 1;
}

.navbar-toggler span:nth-child(1),
.navbar-toggler span:nth-child(3) {
   -webkit-transition: transform .35s ease-in-out;
   -moz-transition: transform .35s ease-in-out;
   -o-transition: transform .35s ease-in-out;
   transition: transform .35s ease-in-out;
}

.navbar-toggler:not(.collapsed) span:nth-child(1) {
    position: absolute;
    left: 12px;
    top: 10px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
    opacity: 0.9;
}

.navbar-toggler:not(.collapsed) span:nth-child(2) {
    height: 12px;
    visibility: hidden;
    background-color: transparent;
}

.navbar-toggler:not(.collapsed) span:nth-child(3) {
    position: absolute;
    left: 12px;
    top: 10px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
    opacity: 0.9;
}
.mobsocil{display:none}
.headerBlock {	margin-top: 278px;	margin-bottom: 90px;}
.controls label span{color:#d0021b }














/*responsive media query*/
@media only screen and (max-width: 991px ){
	.contactform-wrapper {
	margin-top: 90px;
}
.headerBlock {margin-top: 50px;margin-bottom: 30px;}	
.footer-ns input.tnp-email{min-width: 183px;}
.mobsocil{display:block}	
.social-icons li a {font-size: 24px;}	
#menu-top-menu-2 {	margin-top: 25px;}	
ul.social-icons.mobsocil {float: left;	padding: 20px 40px;}	
.navsWrapper ul#menu-top-menu-2 a	{    text-decoration: none;    background-color: transparent !important;    color: rgba(255,255,255,.59) !important;text-align:left;
    padding: 20px 40px;    display: block;    font-family: "Roboto Mono",monospace;    font-size: 24px;}	
.navbar-custom{min-height:50px;}	
li.nav-item {margin-right: 0px;	text-align: center;}	
.leranmore{bottom: 0;width: 100%;position:absolute}	
button.navbar-toggler{width: auto;position:relative}	
a.readmore{margin-left: 0px;padding: 17px 0px;}	
.top-bar{display:none}
.year-bar {	margin-top: 70px;}
.mobnavv{width:100%;}
/*#navbarResponsive {width: 100%;	position: absolute;	z-index: 999;	background-color: #000;	top: 90px;	left: 0px;}*/
.collapse.show {	left: 0 !important;	transition: 0.6s;}
#navbarResponsive {	height: auto !important;	position: fixed;	background-color: #000;
	z-index: 9999;	left: -100%;	text-align: center;-webkit-transition: all .2s ease-in-out;transition: all .2s ease-in-out;top: 50px;
left: 100%;width: 100%;bottom: 0;}
}
@media only screen and (max-width: 767px ){
	.pageHero-title {	font-size: 45px;}
.textAndImage {margin: 90px 0 30px;}	
.scrollspeed{transform:none !important;margin-bottom: 50px;}	
.textAndImage-overlap--opened .textAndImage-overlapContent, .textAndImage-overlap:hover .textAndImage-overlapContent {
	-webkit-transform: none;	transform: none;}
.textAndImage-overlap--opened .textAndImage-overlapText, .textAndImage-overlap:hover .textAndImage-overlapText {
	-webkit-transform: none;	transform: none;}	
.textAndImage-overlapContent {	width: 100%;	-webkit-transform: none;	transform: none;
	-webkit-box-ordinal-group: 2;	-ms-flex-order: 1;	order: 1;}
.textAndImage-overlapText {	width: 100%;	margin-top: 0;	margin-bottom: 0px;	-webkit-transform: none;
	transform: none;	-webkit-box-ordinal-group: 1;	-ms-flex-order: 0;	order: 0;}
.textAndImage-overlap {	-webkit-box-orient: vertical;	-webkit-box-direction: normal;
	-ms-flex-flow: column nowrap;	flex-flow: column nowrap;}	
.cards-item.expand--open iframe{height:100vh !important;background-color: #000;}	
.cards-item.expand--open .card-container--talk{height:100%}	
ul#menu-footer-nav {    text-align: left;}	
.footer-ns input.tnp-email {	min-width: 100%;}	
.footer-ns form.input-group	{flex-wrap: inherit;margin-bottom: 35px;margin-top: 35px;}
.footer-ns .tnp-field.tnp-field-email	{width: 69%;margin-right: 10px;display: inline-flex;}
.footer-ns .tnp-field.tnp-field-button {	width: 30%;}
.footer-ns .tnp-field.tnp-field-button .tnp-button{float:right;width:100%;height:50px;padding:0}
#navbarResponsive{top: 62px;}	
.footer-bs .footer-ns h4{margin-top: 40px;margin-bottom: 15px;}	
.footer-ns {	max-width: 100%;}	
.footer-brand {	max-width: 100%;	width: 100%;}	
.footer-flex{display:initial}	
button.navbar-toggler{padding:0;width: auto;}	

.mater-section {	margin: 30px 0;}
.mater-section .order-lg-1{width:100%}	
.mater-section .order-lg-2{width:100%;padding: 20px 15px;}
.cards-item{width:43.7%;margin: 0px 15px;}
.row1{margin-left: 0px;}	
.card-container--talk {	margin-bottom: 20px;}
.footer-last{display:inherit;text-align:center;padding-top: 30px;margin-bottom: 30px;}
.footer-twg.float-right{width:100%}
.footer-bs ul{width:100%;text-align:center}
}
@media only screen and (max-width: 479px ){
.pageHero-title {	font-size: 35px;}	
.headerBlock-content .h2 {font-size: 36px;}
.footer-bs ul{column-count:auto}	
.social-icons li a {font-size: 20px;}		
	.cards-item{width:100%}
	.navsWrapper ul#menu-top-menu-2 a{font-size:18px;}
}	
.neterror {height: 85%;top: 46px;background-color:transparent;}
.footer-bs .footer-ns p {display: inline-block;}
.mail-submit {background: #cd3856;border: 1px solid #cd3856;padding: 2px;color: #fff; cursor: pointer;padding: 15px 30px;width: 125px;margin-left: 15px;background-size: 200% 100%;}
.mail-email {height: 55px;width: 100%;border: none;background: transparent;color: #fff;border-bottom: 1px solid rgba(255,255,255,.59);}
.mail-email:hover {border-bottom: 1px solid #fff;outline: 0;}