body{
	font-family: 'PT Sans', sans-serif;
	color: #000;
	font-size: 18px;
	line-height: 26px;
}

/*Header*/
header{ background: #e9e9ea; }
.Number {
	position: absolute;
	right: 25px;
	top: 10px;
	font-family: 'Exo', sans-serif;
	font-size: 14px;
	color: #00608b;
	font-weight:700;
	letter-spacing: .2px;
}
header .nav-link{ font-family: 'Exo', sans-serif; font-size: 14px; padding: 30px 0 0 0; letter-spacing: .2px;}
header .navbar-light .navbar-nav .nav-link {	color: rgba(0,0,0,.7);}

/*Banner*/
.banner_block{  background-image: url(../images/banner.jpg); background-repeat: no-repeat; background-position:center; background-size: cover;}
.banner_content{ padding: 235px 0;}
.banner_content p { 
	font-size: 48px;
	font-weight: 300;
	font-family: 'Exo', sans-serif;
	color: #fff;
	line-height: 60px;
	width: 60%;
	margin: 0 auto;
}
.banner_content .btn-light {
	color: #fff;
	background-color: #f9c242;
	border-color: #f9c242;
	border-radius: 30px;
	height: 50px;
	width: 260px;
	font-size: 18px;
	font-family: 'Exo', sans-serif;
	margin-top: 45px;
}
.banner_content .btn-light:hover {background-color: #085f8c;}

/*About*/
.about_area{ padding: 60px 0;}
.about_area h2{ color: #009dc9; font-family: 'Exo', sans-serif; font-weight: 600; font-size: 30px; margin-bottom: 35px;}
.about_area p{padding: 0px 85px;}

/*Business*/
.business_area{ padding: 60px 0;}
.business_area h2{ color: #009dc9; font-family: 'Exo', sans-serif; font-weight: 600; font-size: 30px; margin-bottom: 35px;}
.business_area p{padding: 0px 85px;}
section.business_area {
    background-color: #f4f7fc;
}


/*Services*/
.services_area{background-image: url(../images/service.jpg); background-repeat: no-repeat; background-position:center; background-size: cover; padding: 70px 0;}
.service_title{ color: #fff;}
.service_title h2{ font-family: 'Exo', sans-serif; font-weight: 600; font-size: 30px; margin-bottom: 25px;}
.service_title p {margin: 0 0 30px 0;}
.service_cart .card{border-radius: 0; border: none; border-bottom: 10px solid #009dc9; margin-top: 30px;}
.service_cart .card:hover{ background: #dbdbdb;}
.service_cart .cart_img{margin: 20px 0 15px 0;}
.service_cart .card-title{color: #00608b; font-family: 'Exo', sans-serif; font-weight: 700; font-size: 21px; margin-bottom: 15px; min-height: 50px;}
.service_cart .card-text{font-size: 14px; color: #585858; line-height: 20px; margin: 0; min-height: 120px;}
.service_cart a{ color: #10baed; font-size: 14px;}
.service_cart a:hover{}


/*Invested Traveler*/
.single_investedtraveler{border-right: 1px solid #eee;}
.single_investedtraveler .img-fluid{ width: 100%;}
.single_investedtraveler .img-fluid:hover{opacity: .5;}
.investedtraveler_title {
	color: #009dc9;
	font-family: 'Exo', sans-serif;
	font-weight: 600;
	font-size: 30px;
	border-bottom: 1px solid #eee;
	border-top: 1px solid #eee;
	margin: 60px 0 30px 0;
	padding: 14px 0 19px 0;
}


/*Footer*/
.footer_area{font-family: 'Exo', sans-serif; color: #fff; font-size: 14px; background: #0a5f8b; border-top: 6px solid #efe24b; padding-top: 70px;}
.footer_area img{margin-bottom: 20px;}
.footer_area h3{ text-transform: uppercase; font-size: 14px;}
.footer_area h4{font-size: 14px;}
.footer_area ul{ padding: 0;}
.footer_area ul li{ list-style: none;}
.footer_area ul li a{color: #fff;}
.footer-social{ margin-bottom: 40px;}
.footer-social a{color: #fff; font-size: 24px; margin-right: 10px;}
.footer-social a:hover{ opacity: .5;}
.copyright{font-family: 'PT Sans', sans-serif; border-top:1px solid #0f729f; padding: 20px 0 10px 0;}
/*Footer end*/

/*who are page*/
.banner_who{background-image: url(../images/who-we-banner.jpg);background-repeat: no-repeat;background-position: center;background-size: cover;}
.banner_content.banner_who-content h1 {font-size: 48px;font-weight: 400;color: #fff;font-family: 'Exo', sans-serif;}
.banner_content.banner_who-content{padding: 90px 0;}
.banner_content.banner_who-content p{font-size: 16px;line-height: 24px;}
.who-we-content h3 {color: #10baed;font-size: 14px;font-weight: 600;font-family: 'Exo', sans-serif;}
.who-we-sec {padding-bottom: 50px;padding-top: 90px;}
.hr {border: 1px solid #10baed;width: 10%;margin-top: 10px;}
.hr2 {border: 1px solid #10baed;width: 8%;margin-top: 2px;}
.who-we-content h1 {font-size: 16px;line-height: 40px;margin: 0px;font-family: 'Exo', sans-serif;}
.who-we-content p {font-size: 16px;margin-top: 10px;font-family: 'Exo', sans-serif;}
.jumps {margin-top: 10px !important;}
.company-heading {font-size: 16px;font-weight: 600;margin: 30px 0;font-family: 'Exo', sans-serif;}
.tick_heading {float: left;padding-right: 12px;}
.content.tick_content {margin-top: 0px;}
.content p {font-size: 16px;line-height: 26px;margin: 10px 0;font-family: 'Exo', sans-serif;}
.btn-req-pro {background: #f9c242;color: #fff;font-size: 18px;font-weight: 600;border-radius: 40px;padding: 12px 36px;margin-top: 40px;font-family: 'Exo', sans-serif;}
.box h1 {color: #00608b;font-size: 18px;font-weight: 600;margin-top: 20px;height: 30px;font-family: 'Exo', sans-serif;}
.box {padding: 40px 20px;}
.d-box {text-align: center;border: 1px solid #ccc;margin-bottom: 20px;}

@media (max-width:991px){.box h1 {font-size: 16px;margin-top: 8px;height: 40px;}
.box {padding: 20px 0px;}
}
@media (max-width:767px){
	.form-wrapper h2{width:100%}
.who-we-sec {padding-bottom: 0px;padding-top: 40px;}
.who-we-content h1 {font-size: 24px;}
.btn-req-pro{margin-top: 20px;margin-bottom: 40px;}
.banner_content.banner_who-content h1 {font-size: 34px;}
}
@media (max-width:479px){
.formnextprv	{width:100%}	
.forminnerd{margin-bottom: 20px;width:100%;padding: 15px 25px 50px 15px;}	
.form-wrapper h3{font-size:17px}	
.form-wrapper h2 {	font-size: 17px;	margin-top: 20px;}
}	/*who are page end*/
	




.form-wrapper {padding-top:60px;	background-image: url(http://investedtraveler.mobilytedev.com/wp-content/uploads/2018/08/formbg.jpg);	padding-bottom: 14%;	background-repeat: no-repeat;
	background-size:cover;}
.form-wrapper h2{width:77%;margin:auto;font-size:30px;color:#fff;font-family: 'Lato', sans-serif;text-align:center;text-transform:uppercase}
.bordershadow{width: 100px;border-top: 5px solid;color: #f9c242;margin: 50px auto;}
 /* Style the form */
.forminnerd{min-height:300px;   background-color: #ffffff; margin:auto;  width: 430px; padding:25px 25px 50px 25px;}
#regForm input { margin-bottom: 15px; padding: 10px;  width: 100%;  font-size: 17px;  font-family: Raleway;  border: 0px solid #aaaaaa;/*background-color:#f1f1f1*/}
#regForm input.invalid { background-color: #ffdddd;}
#regForm .tab {  display: none;}
#regForm .step {  height: 15px;  width: 15px;  margin: 0 2px;  background-color: #bbbbbb;  border: none;  border-radius: 50%;  display: inline-block;  opacity: 0.5;}
#regForm .step.active { opacity: 1;}
#regForm .step.finish {  background-color: #4CAF50;} 
/* The radio */
.forminnerd .radio { padding-top: 15px;padding-bottom: 15px; color:#010101;display: block;    position: relative;    padding-left: 45px;    margin-bottom: 12px;    cursor: pointer;    font-size: 18px;    -webkit-user-select: none;    -moz-user-select: none;    -ms-user-select: none;    user-select: none}
.forminnerd .radio input {height: 32px;left: 0;    position: absolute;    opacity: 0;    cursor: pointer;}
.forminnerd .checkround {    position: absolute;    top: 14px;    left: 0;    height: 35px;    width: 35px;
    background-color: #fff ;    border-color:#f9c242;    border-style:solid;    border-width:2px;     border-radius: 50%;}
.forminnerd .radio input:checked ~ .checkround {    background-color: #fff;}
.forminnerd .checkround:after {    content: "";    position: absolute;    display: none;}
.forminnerd .radio input:checked ~ .checkround:after {    display: block;}
.forminnerd .radio .checkround:after {     left: 5px;    top: 5px;    width: 21px;    height: 21px;    border-radius: 50%;    background:#f9c242;}
.form-wrapper h3 {	width: 100%;	margin: auto;margin-bottom:45px;	font-size: 30px;	color: #fff;	font-family: 'Lato', sans-serif;	text-align: center;font-weight:bold;	text-transform: uppercase;}
.form-wrapper h4 {
	width: 100%;
	margin: auto;
	margin-bottom:15px;
	font-size: 16px;
	color: #000;
	font-family: 'Lato', sans-serif;
	text-align: center;
	font-weight: normal;
	line-height: 26px;
}
#regForm{position:relative}
.formnextprv {	width: 430px;	margin: auto;	position: absolute;	left: 0;	right: 0;	bottom: -41px;}
.formnextprv button {cursor:pointer;	outline:none;font-size: 28px;color: #fff;background-color: #f9c242;	width: 100%;	border-radius: 100px;	height: 75px;	border: 0;}
.formnextprv #prevBtn{display:none !important}
#paneldd {   display: none;}
#flipddd{display: inline-flex;}
#flipddd input.dfd {
	height: 30px;
	left: 0px;
	top: 15px;
	width: 100px;
}
.oksubmit {	max-width: 120px;	margin: auto;	display: block;}
#paneldd input {	height: 50px;	margin-bottom: 50px;	width: 100%;	resize: none;	border: 1px solid #ccc;}
/*influence */
.influence-headertop {background-image:url(../images/who-we-banner.jpg);background-repeat: no-repeat;background-position: center;background-size: cover;padding:90px 0px}
.influence-headertop h2{font-weight: 300;font-size:48px;font-family: 'Exo', sans-serif;text-align:center;color:#fff}
.influence-headertop p{font-size:16px;font-family: 'Exo', sans-serif;font-weight:300;text-align:center;color:#fff;max-width: 55%;
margin: auto;}
.influence-team{padding:95px 0px;}
.influence-team h2{	color: #10baed;	font-size: 14px;	font-weight: 600;	font-family: 'Exo', sans-serif;}
.influence-team h3{	margin:15px 0px 18px 0px;color: #009dc9;	font-size: 30px;	font-weight: 600;	font-family: 'Exo', sans-serif;}
.influence-team p{line-height:26px;max-width: 100%;	color: #000000;	font-size: 18px;	font-weight: 400;font-family: 'PT Sans', sans-serif;}
.team-inner{box-shadow: 0px 5px 15px rgba(38, 140, 255, 0.15);border: 1px solid #dbf1f5;padding: 20px;margin-top: 30px;transition:0.6s}
/*.team-inner:hover{box-shadow: 0px 5px 15px rgba(255, 255, 255, 0.15);border: 1px solid #fff;}*/
.team-inner h4{margin: 10px 15px;font-weight:bold;color:#00608b;font-size:20px;text-align:center}
.team-inner	p{font-size:14px;color:#535353;text-align:center;font-family: 'Exo', sans-serif;}
.team-inner label {	margin: auto;	display: block;	border-radius: 100%;	width: 160px;
	height: 160px;	overflow: hidden;	background-color: #f1f2f4;	text-align: center;	display: flex;	justify-content: center;	align-items: center;}
.team-inner label img {	width: auto;	height: auto;	max-width: 100%;}
.team-inner ul{text-align: center;margin:0;padding:0}
.team-inner ul li{display:inline-block;list-style-type:none}
.team-inner ul li img{max-width:25px;}
.invest-giving{background-color:#fff;padding:70px 0px;}
.invest-giving h2 {	color: #10baed;	font-size: 14px;	font-weight: 600;	font-family: 'Exo', sans-serif;}
.invest-giving h3 { 	margin: 15px 0px 18px 0px;	color: #009dc9;	font-size: 30px;	font-weight: 600;	font-family: 'Exo', sans-serif;}
.invest-giving p {	max-width: 700px;	color: #000000;line-height:30px;	font-size: 18px;	font-weight: 400;	font-family: 'PT Sans', sans-serif;}
.invest-donation{border-bottom:0px !important;background-color:#f4f7fc;padding:70px 0px 140px 0px;border: 1px solid #dbf1f5;}
.invest-donation h2 {	color: #10baed;	font-size: 14px;	font-weight: 600;	font-family: 'Exo', sans-serif;}
.invest-donation h3 { 	margin: 15px 0px 18px 0px;	color: #009dc9;	font-size: 30px;	font-weight: 600;	font-family: 'Exo', sans-serif;}
.invest-donation p {	color: #000000;line-height:30px;	font-size: 18px;	font-weight: 400;	font-family: 'PT Sans', sans-serif;}
.invest-donation a{border:1px solid #23a9e1;margin-top:25px;text-decoration:none;width:255px;height:50px;color:#fff;border-radius:25px;text-align:center;background-color:#23a9e1;transition:0.6s;display: flex;align-items: center;	justify-content: center;}
.invest-donation a:hover{background-color:transparent;color:#23a9e1}
.invest-donation p strong{margin-top:60px;display: inline-block;}
.donation-text{flex-wrap: wrap;display:flex;padding:0;justify-content: space-between;margin: 40px 0;}
.donation-text li{width:23%; list-style-type:none;background-color:#fff;box-shadow:0px 2px 2px #000;padding:20px;box-shadow: 0px 1px 13px #dddada;}
.donation-text h4{margin-bottom:30px;color:#4b4b4d;font-size:18px;font-family: 'PT Sans', sans-serif;font-weight:bold}
.donation-text p{color:#4b4b4d;font-size:14px;font-family: 'PT Sans', sans-serif;line-height:20px}
.donation-text p span{color:#23a9e1;}
.donation-text li:nth-child(1){border-radius: 10px 10px 0px 0px;border-top: 10px solid #efe24b;}
.donation-text li:nth-child(2){border-radius: 10px 10px 0px 0px;border-top: 10px solid #97c84f;}
.donation-text li:nth-child(3){border-radius: 10px 10px 0px 0px;border-top: 10px solid #22bcee;}
.donation-text li:nth-child(4){border-radius: 10px 10px 0px 0px;border-top: 10px solid #f9c242;}
a.makeapoin-btn{border:1px solid #f9c242;margin-top:25px;text-decoration:none;width:255px;height:50px;color:#fff;border-radius:25px;text-align:center;background-color:#f9c242;display: flex;align-items: center;	justify-content: center;margin: auto;transition:0.6s}
a.makeapoin-btn:hover{background-color:transparent;color:#f9c242}
.invest-hpycustomer {background-color: #f4f7fc;padding: 80px 0px 110px 0px;	border: 1px solid #dbf1f5;}
.invest-hpycustomer h2 {	color: #10baed;	font-size: 14px;	font-weight: 600;	font-family: 'Exo', sans-serif;}
.invest-hpycustomer h3 { 	margin: 15px 0px 18px 0px;	color: #009dc9;	font-size: 30px;	font-weight: 600;	font-family: 'Exo', sans-serif;}
.happycrousel label {	display: flex;justify-content: center;align-items: center;width: 90%;	height: 130px;	background-color: #fff;	text-align: center;
	padding: 20px;	box-shadow: 0px 5px 15px rgba(38, 140, 168, 0.15);	box-sizing: border-box;	margin: 15px 10px;}

.happycrousel label img{max-width:100%;width:auto !important;}
.happycrousel label img.img-0 { max-width:90px !important; width:auto !important; }

.happycrousel .owl-nav {	position: absolute;	top: -55px;	right: 0;}
.owl-prev{font-size: 38px !important;height: 35px;background-color: #0e95ff !important;color: #fff !important;margin-right: 10px;
border-radius: 5px 0px 0px 5px;width: 35px !important;}
.owl-next{border-radius:0px 5px 5px 0px;font-size: 38px !important;width: 35px !important;height: 35px;background-color: #0e95ff !important;color: #fff !important;}
.owl-next span, .owl-prev span {	position: relative;	top: -4px;}
/**********Industry page*********/
.industry-headertop {	background-image: url(../images/industry-banner.jpg);
	background-repeat: no-repeat;	background-position: center;	background-size: cover;	padding: 90px 0px;}
.industry-headertop h2 {	font-weight: 300;	font-size: 48px;	font-family: 'Exo', sans-serif;	text-align: center;	color: #fff;}
.industry-headertop p {	font-size: 16px;	font-family: 'Exo', sans-serif;	font-weight: 300;	text-align: center;	color: #fff;	max-width: 55%;	margin: auto;}
.industry-service {	background-color: #f4f7fc;padding: 80px 0px 110px 0px;border: 1px solid #dbf1f5;}	
.industry-service h2 {	color: #10baed;	font-size: 14px;	font-weight: 600;	font-family: 'Exo', sans-serif;}
.industry-service h3 {	margin: 15px 0px 10px 0px;	color: #009dc9;	font-size: 30px;	font-weight: 600;	font-family: 'Exo', sans-serif;}
.industry-service p {	line-height: 26px;	color: #000000;
	font-size: 18px;font-weight: 400;	font-family: 'PT Sans', sans-serif;}
.industry-service strong {	line-height: 26px;	color: #00608b;	font-size: 20px;font-family: 'PT Sans', sans-serif;margin:25px 0px 65px 0px;display: inline-block;}	
.indservice-inner{box-shadow: 0px 5px 15px rgba(38, 140, 255, 0.15);border: 1px solid #dce5f3;padding: 20px;margin-top: 30px;transition: 0.6s;}
.indservice-inner h4 {margin-bottom: 20px;	font-weight: 600;font-family: 'Exo', sans-serif;color: #00608b;	font-size: 18px;text-align: left;text-transform:uppercase}
.indservice-inner ul{margin:0;padding:0;margin-top:25px;}
.indservice-inner ul li{list-style-type:none;color:#323232;font-size:14px;line-height:20px}
.industry-service .serve{display:flex}
.invest-hpypeople{background-color: #fff;padding: 80px 0px 45px 0px;text-align:center}
.invest-hpypeople .hr{margin:10px auto 2px auto;}
.invest-hpypeople .hr2{margin:auto;}
.invest-hpypeople h2 {	color: #10baed;	font-size: 14px;	font-weight: 600;	font-family: 'Exo', sans-serif;}
.invest-hpypeople h3 {	margin: 15px 0px 18px 0px;	color: #009dc9;	font-size: 30px;	font-weight: 600;	font-family: 'Exo', sans-serif;}
.request-rfp{background-image:url(../images/requstrfpbg.jpg);padding:60px 0px;}
.request-rfp h2{font-size:30px;color:#fff;text-align:center;font-family: 'Exo', sans-serif;margin-bottom:30px;}
.request-rfp a {font-size:16px;	border: 1px solid #f9c242;	margin-top: 25px;	text-decoration: none;	width: 255px;	height: 50px;
	color: #fff;	border-radius: 25px;	text-align: center;	background-color: #f9c242;	display: flex;	align-items: center;	justify-content: center;
	margin: auto;	transition: 0.6s;font-weight:bold}
.request-rfp a:hover {	background-color: transparent;	color: #f9c242;}	
.request-services {	border-bottom: 0px !important;	background-color: #f4f7fc;	padding: 70px 0px 140px 0px;	border: 1px solid #dbf1f5;}
.request-services h2 {	color: #10baed;	font-size: 14px;	font-weight: 600;	font-family: 'Exo', sans-serif;}
.request-services h3 {	margin: 15px 0px 18px 0px;	color: #009dc9;	font-size: 30px;	font-weight: 600;	font-family: 'Exo', sans-serif;}
.rqservices-text{flex-wrap: wrap;display: flex;padding: 0;justify-content: space-between;margin: 50px 0 80px 0;}
.rqservices-text li{width:23%; list-style-type:none;background-color:#fff;box-shadow:0px 2px 2px #000;padding:30px 20px;box-shadow: 0px 1px 13px #dddada;}
.rqservices-text li:nth-child(1){border-radius: 10px 10px 0px 0px;border-top: 10px solid #efe24b;}
.rqservices-text li:nth-child(2){border-radius: 10px 10px 0px 0px;border-top: 10px solid #97c84f;}
.rqservices-text li:nth-child(3){border-radius: 10px 10px 0px 0px;border-top: 10px solid #22bcee;}
.rqservices-text li:nth-child(4){border-radius: 10px 10px 0px 0px;border-top: 10px solid #f9c242;}
.rqservices-text ul{padding:0}
.rqservices-text ul li {margin-bottom: 0;width: 100%;	border: 0 !important;	box-shadow: none !important;border-radius: 0 !important;padding: 0;	font-size: 14px;color: #4b4b4d;	background-image: url(http://investedtraveler.mobilytedev.com/wp-content/uploads/2018/08/services-check.png);	background-repeat: no-repeat;	padding-left: 20px;	background-position: 1px 11px;	line-height: 24px;}
.request-services p {margin-bottom: 35px;	color: #000000;	line-height: 30px;	font-size: 18px;	font-weight: 400;	font-family: 'PT Sans', sans-serif;}	
.happypeople .owl-dots{margin-top:35px;}
.owl-theme .owl-dots .owl-dot span {outline:none;border:1px solid #c3cedf;	width: 13px;	height: 13px;	margin: 5px 3px;	background: #fff;	display: block;	-webkit-backface-visibility: visible;	transition: opacity .2s ease;	border-radius: 30px;}
.owl-dot.active span{background: #c3cedf !important;outline:none;}

/*tab css*/
.tabbabled.tabs-left > .nav-tabs {
  border-bottom: 0;
}

.tabbabled .tab-content > .tab-pane,
.tabbabled .pill-content > .pill-pane {
  display: none;
}

.tabbabled .tab-content > .active,
.tabbabled .pill-content > .active {
  display: block;
}

.tabbabled.tabs-left > .nav-tabs > li {
  float: none;width:100%;
  background-color: #fff;
margin-bottom: 10px;


}

.tabbabled.tabs-left > .nav-tabs > li a.active{color: #fff;background-color: #085f8c;box-shadow:none;border-radius:6px;border: 1px solid #085f8c;}
.tabbabled.tabs-left > .nav-tabs > li a.active img{filter: grayscale(61%);}
.tabbabled.tabs-left > .nav-tabs > li > a {
  min-width: 74px;text-decoration:none;
  margin-right: 0;font-size: 16px;color:#00608b;
  margin-bottom: 3px;font-weight: 600;font-family: 'Exo', sans-serif;
  border-radius: 6px;padding: 12px 15px 15px 15px;box-shadow: 0px 1px 5px #ccc;
height: 75px;display:block;border: 1px solid #ececec;
}
.tabbabled.tabs-left > .nav-tabs > li > a img {	float: left;	margin-right: 15px;}
.tabbabled.tabs-left > .nav-tabs {display: block;  float: left;  margin-right: 40px;}
.tabbabled.tabs-left > .nav-tabs > li > a {  margin-right: -1px;  -webkit-border-radius: 4px 0 0 4px;     -moz-border-radius: 4px 0 0 4px;
          border-radius: 4px 0 0 4px;		  align-items: center;display: flex;}
.tabbabled.tabs-left > .nav-tabs > li > a.active:hover,
.tabbabled.tabs-left > .nav-tabs > li > a.active:focus{ color: #fff;background-color: #085f8c;box-shadow:none;border-radius:6px;border: 1px solid #085f8c;}

.tabbabled.tabs-left > .nav-tabs .active > a,
.tabbabled.tabs-left > .nav-tabs .active > a:hover,
.tabbabled.tabs-left > .nav-tabs .active > a:focus {
  border-color: #ddd transparent #ddd #ddd;
  *border-right-color: #ffffff;
}
.tabbabled.tabs-left {	display: flex;margin-top: 80px;}
.agenservice{padding:50px 0px;}
.agenservice h2{text-align:center;color: #085f8c;font-size: 30px;font-weight: 600;font-family: 'Exo', sans-serif;}
.agenservice p.p2{text-align:center;color: #000000;font-size: 18px;font-weight: 400;font-family: 'PT Sans', sans-serif;}
.tabbabled h3{color: #10baed;	font-size: 14px;	font-weight: 600;	font-family: 'Exo', sans-serif;}
.tabbabled h4 {	margin: 15px 0px 18px 0px;	color: #009dc9;	font-size: 30px;	font-weight: 600;	font-family: 'Exo', sans-serif;}
.tabbabled p { 	line-height: 26px;	max-width: 700px;	color: #000000;	font-size: 18px;	font-weight: 400;	font-family: 'PT Sans', sans-serif;}
.mddagnserv{    margin-top: 45px;padding: 0;display:flex;flex-wrap:wrap}.mddagnserv li{width:50%;list-style-type:none;margin-bottom: 25px;}









	/*who are page end*/
/*our css start*/

ul#menu-home a {
    color: rgba(0,0,0,.9);
    font-family: 'Exo', sans-serif;
    font-size: 14px;
    letter-spacing: .2px;
    padding-left: 20px;
    }
    /* Blog Section */
    .blog-posts {
    border-bottom: 0px !important;
    /* background-color: #f4f7fc; */
    padding: 70px 0px 140px 0px;
    border: 1px solid #dbf1f5;
}
.row.blog-posts-header h3 {
    margin: 15px 0px 18px 0px;
    color: #009dc9;
    font-size: 30px;
    font-weight: 600;
    font-family: 'Exo', sans-serif;
}
	.resource-pod-content h3{
	margin-bottom: 30px;
    color: #4b4b4d;
    font-size: 18px;
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;}

.resource-pod-content p{
    color: #000000;
    line-height: 30px;
    font-size: 18px;
    font-weight: 400;
	    font-family: 'PT Sans', sans-serif}
.featured-img-blog {
    float: left;
    height: 170px;
    background-size: cover;
    background-position: center center;
    position: relative;
    width: 350px;
}
a.world_model {
    color: #009dc9;
}
.row.blog-posts-header h2 {
    color: #009dc9;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Exo', sans-serif;
}	


.donation-text1{flex-wrap: wrap;display:flex;padding:0;justify-content: space-between;margin: 40px 0;}
.donation-text1 li{width:31%; list-style-type:none;background-color:#fff;box-shadow:0px 2px 2px #000;padding:20px;box-shadow: 0px 1px 13px #dddada;}
.donation-text1 h4{margin-bottom:30px;color:#4b4b4d;font-size:18px;font-family: 'PT Sans', sans-serif;font-weight:bold}
.donation-text1 p{color:#4b4b4d;font-size:14px;font-family: 'PT Sans', sans-serif;line-height:20px}
.donation-text1 p span{color:#23a9e1;}
.donation-text1 li:nth-child(1){border-radius: 10px 10px 0px 0px;border-top: 10px solid #efe24b;}
.donation-text1 li:nth-child(2){border-radius: 10px 10px 0px 0px;border-top: 10px solid #97c84f;}
.donation-text1 li:nth-child(3){border-radius: 10px 10px 0px 0px;border-top: 10px solid #22bcee;}
.donation-text1 li:nth-child(4){border-radius: 10px 10px 0px 0px;border-top: 10px solid #f9c242;}
button.btn.btn-light {
    color: #fff;
    background-color: #f9c242;
    border-color: #f9c242;
    border-radius: 30px;
    height: 50px;
    width: 260px;
    font-size: 18px;
    font-family: 'Exo', sans-serif;
    margin-top: 25px;
    margin-bottom: 25px;
}
.testimonials {
    border-bottom: 0px !important;
    background-color: #f4f7fc;
    padding: 70px 0px 40px 0px;
    border: 1px solid #dbf1f5;
}
.testimonials h2 {
    color: #10baed;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Exo', sans-serif;
}
.testimonials h3 {
    color: #009dc9;
    font-size: 30px;
    font-weight: 600;
    font-family: 'Exo', sans-serif;
}
.testimonials p {
    color: #000000;
    line-height: 30px;
    font-size: 18px;
    font-weight: 400;
    font-family: 'PT Sans', sans-serif;
}
.testimonials-text {
    flex-wrap: wrap;
    display: flex;
    padding: 0;
    justify-content: space-between;
    margin: 40px 0;
}
.testimonials a {
    border: 1px solid #23a9e1;
    margin-top: 25px;
    text-decoration: none;
    width: 255px;
    height: 50px;
    color: #fff;
    border-radius: 25px;
    text-align: center;
    background-color: #23a9e1;
    transition: 0.6s;
    display: flex;
    align-items: center;
    justify-content: center;
}
.testimonials a:hover {
    background-color: transparent;
    color: #23a9e1;
}
.testimonials p strong {
    margin-top: 60px;
    display: inline-block;
}

.testimonials-text li {
    width: 32%;
    list-style-type: none;
    background-color: #fff;
    box-shadow: 0px 2px 2px #000;
    padding: 20px;
    box-shadow: 0px 1px 13px #dddada;
}

.testimonials-text h4 {
    margin-bottom: 30px;
    color: #4b4b4d;
    font-size: 18px;
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
}
.testimonials-text p {
    color: #000000;
    line-height: 30px;
    font-size: 14px;
    font-weight: 400;
    font-family: 'PT Sans', sans-serif;
}
.testimonials-text p span {
    color: #23a9e1;
}
.testimonials-text li:nth-child(1) {
    border-radius: 10px 10px 0px 0px;
    border-top: 10px solid #efe24b;
}
.testimonials-text li:nth-child(2) {
    border-radius: 10px 10px 0px 0px;
    border-top: 10px solid #97c84f;
}
.testimonials-text li:nth-child(3) {
    border-radius: 10px 10px 0px 0px;
    border-top: 10px solid #22bcee;
}



	/*darpan css*/
.no-padding{padding:0px;margin:0px;}		
.blog-banner {
    background: url("../images/blog-banner.jpg");
        background-repeat: repeat;
        background-position-x: 0%;
        background-position-y: 0%;
        background-size: auto auto;
    background-repeat: no-repeat;
    text-align: center;
    padding: 55px 0;
    background-size: cover;
    background-position: center top;
}
.blog-banner-content{width:40%; margin:0 auto;}
.blog-banner-content h1{font-size: 26px;font-weight: 400;color:#fff;padding: 0px 0px;}
.blog-banner-content p{font-size:18px;color:#fff;}
.thumb-content h1 {font-size: 22px;}
.thumb-content h6{font-size:20px;color:#3aafd0;}
.thumb-content p {font-size: 17px;}
.blog-sidebar h1 {font-size: 16px;font-weight: 700;color:#025a88;}
.blog-hr{border-top:2px solid #d7d7d7;margin:20px 0;}
.blue-box{background-color:#0a8cb0;padding: 20px;margin-bottom:20px;}
.blue-box h4{color:#fff; font-size:20px;}
.blue-box p{color:#fff;font-size:16px;}
.btn-follow{background:#025b87; color:#fff;border-radius: 0px;}
.blue-box input {border-radius: 0px;margin-bottom: 20px;padding: 24px 14px;margin-bottom: 20px;}
.thumb-img img {width: 100%;}
.blog-temp {padding-top: 50px;}
.side-content h1{font-size:16px;color:#000;font-weight: 400;}
.side-content h6{font-size:16px;color:#3aafd0;}
.aside-post {padding-bottom: 20px;}
.topics li{list-style:none;color: #000;font-weight: 600;font-size: 16px;border-bottom: 2px solid #ccc;padding: 10px 0;}
.topics ul {padding: 10px 0 0 0;}
.topics .main-t{color: #1b7097;}
.topics.follow{padding:20px 0 0 0px;}
.social-icons{padding:0px;}
.social-icons li {list-style: none;display: inline-block;padding: 0 10px;}
.row.blog-part {padding-bottom: 80px;}
.social-icons li a {color: #707072;}
.thumb-content-single p {padding: 15px 0;margin: 0;}
.thumb-content-single h2 {font-size: 22px;margin: 0px;}
.thumb-content-single span {font-weight: 600;}
.passage-head{margin:20px 0 !important;}
.passage-social-icon {padding: 0px;}
.passage-social-icon li {margin: 0 4px;list-style: none;display: inline-block;padding: 0px 4px;border: 1px solid #ccc;border-radius: 6px;}
.passage-social-icon span {font-weight: 400;padding-left: 6px;font-size: 16px;color: #787878;}
.contact-form {background: #f7f7f7;border: 1px solid #ccc;padding: 40px;margin-top: 40px;}
.btn-form-black{background:#000;color:#fff;border: 0px;padding: 10px 20px;cursor: pointer;}
.contact-form input {border-radius: 0px;padding: 22px 14px;width: 50%;}
.contact-form textarea {border-radius: 0px;}
.passage-social-icon li a {color: #767779;}
.thumb-content svg {color: #3aafd0;}

@media (max-width:1200px){
.blog-banner-content {width: 80%;}
}
@media (max-width:767px){
.blog-banner-content {width: 90%;}
.contact-form input {width: 100%;}
.passage-social-icon li {margin: 4px;}
.no-paddings{padding:0px;}
.thumb-img img {padding-bottom: 10px;}
.row.blog-part {padding-bottom: 20px;}
}

/* CSS Document */

