
@font-face {
    font-family: 'Impact';
    src: url('../fonts/Impact.eot');
    src: url('../fonts/Impact.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Impact.woff2') format('woff2'),
        url('../fonts/Impact.woff') format('woff'),
        url('../fonts/Impact.ttf') format('truetype'),
        url('../fonts/Impact.svg#Impact') format('svg');
    font-weight: normal;
    font-style: normal;
}

body{font-family: 'Oswald', sans-serif;}
.navbar {border-radius: 0px !important;}
.input-group.control-group.after-add-more {margin-top: 10px;}
.top-nav .navbar-inverse {background-color: #3399cc;border-color: #3399cc;padding: 10px 0;margin: 0px;}
.top-nav .navbar-inverse .navbar-nav > li > a {color: #fff;font-weight: 600;font-size: 13px;}
.top-nav .music-btn {color: #3399cc !important;background: #fff;border: 1px solid #fff;border-radius: 30px;padding: 6px 20px !important;font-size: 12px !important;margin-top: 8px;}
.top-nav .music-btn:hover{color: #3399cc !important;background: #fff !important;}
.mob-logo {display: none;}
.top-nav .top-nav-icon {padding-right: 8px;}
.top-nav .nav.navbar-nav.navbar-left {width: 45%;}
.top-nav .navbar-right {margin-right: 0px;width: 24%;overflow: hidden;}
.nav.navbar-nav.navbar-center li a {border: 1px solid #fff;padding: 18px 24px;margin-top: 0px;font-size: 30px;font-weight: 400;}
.top-nav .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {border-color: #fff;}
.top-nav .navbar-inverse .navbar-toggle {border-color: #fff;margin-right: 70px !important;}
.top-nav .navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {background-color: transparent !important;}
.banner-section {position: relative;}
	.videooverlaycontent {
    position: relative;
    width: 100%;
    left: 0px;
    height: 100%;
}
.videooverlaycontent .play_btn {
    width: 50px;
    margin: 0px auto;
    /*margin-top: 25%;*/
    cursor: pointer;
}

.video_overlay {
    position: absolute;
    width: 100%;
    top: 45px;
    left: 0px;
    height: 100%;
    background: rgba(1, 1, 1, 0.42);
}
.video_popup_content {
    position: relative;
    padding-bottom: 0px;
    background: rgba(19, 17, 17, 0.9519607843137255);
    height: 100vh;
}	
.video_popup_content iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.video_popup_section {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    z-index: 999;
    display: none;
}
.closevideo {
    position: absolute;
    width: 100%;
    left: 0px;
    top: 0px;
    z-index: 1;
}
.closevideo span {
    float: right;
    cursor: pointer;
    margin-right: 1rem;
    margin-top: 1rem;
}
.banner img{width:100%; background-size:cover;}
.banner-title {position: absolute;top: 30%;right: 18%;}
.banner-title h1 {font-size: 120px;color: #fff;font-weight: 700;font-family: 'Impact';letter-spacing: 4px;}
.banner-title p {color: #3399cc;font-size: 80px;font-weight: 400;font-family: 'Great Vibes', cursive;}
.discover-btn{color:#fff;  !important;background: #3399cc;border: 1px solid #3399cc;border-radius: 30px;padding: 10px 30px !important;font-size: 12px !important;margin-top: 8px;font-weight: 700;border:1px solid #3399cc;transition:1s;}
.discover-btn:hover{color: #3399cc;background:#fff ;text-decoration:none;border:1px solid #3399cc;}
.featured-releases h1{color:#000;font-size: 32px;letter-spacing: 2px;float: left;margin: 0px;}
.featured-releases span {color: #3399cc;}
.featured-releases {margin-top: 20px;padding: 0px 20px;}
.search-btn {background: #3399cc;color: #fff;padding: 10px 0px 10px 22px;font-size: 16px;font-weight: 400;border-radius: 20px;float: right;}
.search-btn:hover {background: #3399cc;color: #fff;text-decoration: none;}
.featured-releases .search-btn i {color: #fff;padding-right: 22px;padding-left: 120px;font-size: 20px;}
.carousal-img-title {background-color: #3399cc;max-width: 100%;padding: 30px;text-align: left;color: #fff;width: 94%;margin: 0 auto;margin-top: 0px;margin-top: -20px; margin-left: 0px;}
.carousal-img-title h1{color:#fff;font-size: 18px;font-weight: 400;margin:0px;padding-bottom: 12px;}
.carousal-img-title p{color:#fff;font-size:16px;margin:0px;padding-bottom: 20px;}
.carousal-icon {list-style: none;color: #fff !important;}
.carousal-font-icons {margin: 0;padding: 0;}
.carousal-font-icons li a {color: #fff !important;padding-right: 6px;}
.featured-carousal .top-nav-icon {padding-right: 4px;}
.featured-carousal .nbs-flexisel-item img {width:94%;}
.news span{color: #333333;font-size: 16px;font-weight: 400;letter-spacing: 4px;}
.news {width: 36%;margin: auto;}
.news-border {border-bottom: 6px solid #999999;margin: auto;padding-top: 10px;}
.news i {float: right;color: #3399cc;font-size: 20px;padding: 4px;}
.footer-border {border-top: 2px solid #cccccc;margin-top: 70px;width: 100%;text-align: center;}
.footer-links ul {float: none !important;}
.footer-links li {float: none;display: inline-block;}
.footer-links {padding-top: 50px;}
.footer-links a {color: #333333;letter-spacing: 2px;font-size: 16px;}
.footer-links .navbar-nav.navbar-left li a {color: #333333;padding: 0px 34px;font-size:16px;}
.footer-links .nav.navbar-nav.navbar-left {padding-bottom: 30px;}
.contact-form-footer {width: 36%;margin: auto;}
.contact-form-footer .btn.btn-default.pull-right {width: 100%;color: #fff;background-color: #3399cc;font-weight: 600;border:1px solid #3399cc;font-size:16px;transition: 1s;}
.contact-form-footer .btn.btn-default.pull-right:hover {background: transparent;color: #3399cc;}
.contact-form-footer .form-control {border-radius:0px;background:transparent;color:#fff;}
.contact-form-footer h2 {margin-bottom: 35px;color:#fff;font-size: 32px;font-weight: 400;}
.contact-form-footer ::placeholder {color: #fff;}
.form-footer{background-image:url("../images/background-form.jpg");padding: 30px 0;margin: 70px 0;}
.instagram {text-align: center;}
.insta {font-size: 32px;text-align: center;margin: auto;font-weight:400;}
.instagram img {display: inline-block;width: 33%;margin-top: 60px;height: 300px;padding: 0 10px;object-fit: cover;}
.songs-insta {padding-top: 50px;}
.popular-songs h1 {padding-left: 32px;font-weight: 400;letter-spacing: 2px;}
.popular-songs span {color: #3399cc;}
.upcoming-events h1 {font-size: 32px;font-weight:400;}
.upcoming-events span{color: #3399cc;}
.event-img img {width: 100%;margin-top: 56px;}
.details {position: absolute;top: 44%;right: 50%;color: #fff;}
.purchase-ticket {background: #3399cc;color: #fff;font-size: 12px;font-weight: 600;padding: 10px 26px;border-radius: 40px;border: 1px solid #3399cc;}
.purchase-ticket:hover {text-decoration: none;background: #fff;border: 1px solid #3399cc;color: #3399cc;transition: 1s;}
.ticket-btn {padding-top: 20px;}
.rocks-nation {padding-top: 44%;}
.rocks-nation h1 {font-size: 22px;font-weight: 400;letter-spacing:2px;}
.rocks-nation p {font-size: 16px;}
.rocks-nation span {color: #000;}
.carousal-heding h1 {font-size: 32px;font-weight: 400;letter-spacing:2px;}
.carousal-heding span {color: #3399cc;}
.upcoming-events {padding: 40px 15px 0 15px;}
.news-carousals{text-align:center;margin-top: 40px;}
.news-carousals .nbs-flexisel-inner {background-image: url(../images/cr-img.png);background-size: cover;width: 100%;/*padding: 100px 0;8*/}
.learn-more-btn {color: #3399cc;background: #fff;padding: 10px 40px;border-radius: 20px;font-size: 12px;position: relative;top: -70px;}
.learn-more-btn:hover {transition: 1s;background: #3399cc;color: #fff;text-decoration: none;}
.news-carousals h1{color:#fff;}
.news-carousals .nbs-flexisel-item img {padding: 100px 10px 150px 10px;}
.heart-dancing ul{columns: 3;padding-top: 40px;}
.heart-dancing li {list-style: url;border-bottom: 1px solid #999999;width: 70%;padding: 6px;font-size: 16px;}
.popular-songs img {padding-left: 22px;padding-top: 40px; width: 300px;}
.popular-songs h1 {padding-left: 22px;margin: 0;}
.marketing-slider .nbs-flexisel-nav-left::before {content: url(../images/arrow-iconleft.png);}
.marketing-slider .nbs-flexisel-nav-right::before {content: url(../images/arrow-icon.png);}
.carousal-heding .nbs-flexisel-nav-left {right: 40px !important;}
.carousal-heding .nbs-flexisel-nav-right {right: 8px !important;}
.carousal .nbs-flexisel-nav-left {right: 50px;}
.carousal .nbs-flexisel-nav-right {right: 15px;}
.news-carousals .nbs-flexisel-nav-left {left: 48%;top:80%;right: auto;background: #fff;color: #000;}
.news-carousals .nbs-flexisel-nav-right {left: 50.5%;top:80%;right: auto;background: #fff;color: #000;}
.marketing-slider .nbs-flexisel-nav-left {left: 12%;top: 60%;right: auto;background:transparent;} 
.marketing-slider .nbs-flexisel-nav-right {left: auto;top: 60%;right: 12%;background:transparent;} 
.footer-background {padding-bottom: 50px;}
.marketing-slider .nbs-flexisel-item img {max-width: 60%;}
.insta2-img {height: 200px !important;}
.form-subscribe{display:inline-block !important;width:90% !important;border: 0px;box-shadow: inherit;font-size: 16px;padding: 0;letter-spacing: 3px;font-weight: 400;}
.news-carousals .details {top: 25%;width: 100%;right: 0px;left: 20px;padding: 0 16px;text-align: left;}
.news-carousals .details h1 {font-size: 26px;line-height: 36px;color: #999999;}
.news-carousals .details p {font-size: 16px;padding-top: 20px;color: #999999;}
/*carousals css start*/
#flexiselDemo1, #flexiselDemo2, #flexiselDemo3 {display:none;}
.nbs-flexisel-container {position:relative;max-width:100%;}
.nbs-flexisel-ul {position:relative;width:99999px;margin:0px;padding:0px;list-style-type:none;   text-align:center;  overflow: auto;}
.nbs-flexisel-inner {position: relative;overflow: hidden;float:left;width:100%;}
.nbs-flexisel-item {float:left;margin:0px;padding:0px;cursor:pointer;position:relative;line-height:0px;}
.nbs-flexisel-item img {max-width: 100%;cursor: pointer;position: relative;margin-top: 46px;margin-bottom: 10px; max-height: 390px; width: 100%;}
/*** Navigation ***/
.nbs-flexisel-nav-left,
.nbs-flexisel-nav-right {padding:5px 10px;border-radius:0px;position: absolute;cursor: pointer;z-index: 4;top: 4%;transform: translateY(-50%);background: #3399cc;color: #fff;}
.nbs-flexisel-nav-left {right: 40px;}
.nbs-flexisel-nav-left:before {content: "<"}
.nbs-flexisel-nav-left.disabled {opacity: 0.4;}
.nbs-flexisel-nav-right {right: 2px;}
.nbs-flexisel-nav-right:before {content: ">"}
.nbs-flexisel-nav-right.disabled {opacity: 0.4;}
/*carousals css end*/

.audo_player_popular_section {
    display: none;
    width: 100% !important;
    border-radius: 0px;
    margin: 0px auto;
    text-align: center;
    position: fixed !important;
    left: 0% !important;
    height: auto !important;
    background: rgba(51, 51, 51, 0.9) !important;
    border-top: 3px solid #333;
    z-index: 999;
    bottom: 0%;
}

.audio_player_popular_content {
    width: 100%;
    text-align: center;
    padding: 15px 20px;
}

.close_popular_audio span, .latest_close_popular_audio span{
    border-radius: 10px;
    border: 1px solid #ffffff;
    padding: 2px 7px 5px 7px;
    background: #fff;
    font-weight: bold;
    cursor: pointer;
    font-size: 14px;
    line-height: 12px;
    display: block;
    margin: 0;
    position: absolute;
    top: 2px;
    right: 5px;
    color: #a94442;
}

.audio_player_popular_content audio {
    
}

@media (max-width:1366px){
.banner-title {top: 10%;right: 4%;}
.news-carousals .nbs-flexisel-item img {padding: 60px 10px 130px 10px;}
.news-carousals .nbs-flexisel-nav-right {top: 75%;}
.news-carousals .nbs-flexisel-nav-left {top: 75%;}
.news {width: 56%;}
.heart-dancing li {width: 90%; padding-bottom: 20px;}
.contact-form-footer {width: 56%;}
}

@media (max-width:1200px){
.heart-dancing li {width: 100%;}
.instagram img {width: 30%;}
.carousal-heding h1 {font-size: 30px;}
.news-carousals .nbs-flexisel-nav-left {left: 47%;top: 75%;}
.rocks-nation {padding-top: 30%;}
.news-carousals .details {left: 10px;}
.news-carousals .details h1 {line-height: 26px;}
.news-carousals .details p {padding-top: 10px;}
}

@media (max-width:1024px){
.top-nav .nav.navbar-nav.navbar-left {width: 44%;}
.banner-title {top: 1%;}
.heart-dancing ul {columns: 2;}
.heart-dancing li {width: 70%;}
.carousal-heding h1 {font-size: 28px;}
.marketing-slider .nbs-flexisel-nav-left {left: 10%;top: 66%;}
.marketing-slider .nbs-flexisel-nav-right {top: 66%;right: 10%;}
.instagram img {height: 200px;}
.insta2-img {height: 150px !important;}
.news-carousals .details {left: 10px;}
.nbs-flexisel-nav-left, .nbs-flexisel-nav-right {top: 7%;}
.nbs-flexisel-item img {margin-top: 60px;}
}

@media (max-width:991px){
.banner-title {top: 12%;}
.banner-title h1 {font-size: 60px;}
.banner-title p {font-size: 40px;}
.featured-releases .search-btn i {padding-left: 50px;}
.featured-releases {padding: 20px 30px;}
.carousal-heding {padding: 20px 0;}
.rocks-nation {padding-top: 45%;}
.heart-dancing li {width: 90%;}
.footer-links .navbar-nav.navbar-left li a{padding: 0px 8px;}
.carousal-img-title h1 {font-size: 14px;}
.carousal-img-title{padding: 20px;}
.footer-links .nav.navbar-nav.navbar-left {width: 100%;margin: 0px;}
.text-logo {top: 0 !important;margin-top: 7% !important;margin-left: 0 !important;}
.footer-head.footer-2 {
    width: 50%;
    float: right;
    margin-right: 15%;
}
ul#menu-home-1 {
    padding-left: 10px !important;
}
.top-nav .navbar-right {
    width: 30% !important;margin-top: 20px;}
    .banner-bgimage {
    height: 200px !important;}
    .container-fluid.Banner-img {
    height: 200px !important;}
}

@media (max-width:767px){
.carousal-img-title{padding: 20px 15px;}
.top-nav .nav.navbar-nav.navbar-left {width: 100%;text-align: center; margin: 20px 0px !important;}
.nav.navbar-nav.navbar-center li {text-align: center;width: 36%;position: absolute;top: 4px;left: 31%;}
.nav.navbar-nav.navbar-right li {text-align:center;width:100%;}
.music-btn{width: 34%;text-align: center;margin: auto;}
.rocks-nation {padding-top: 10px;text-align: center;}
.instagram {padding-top: 20px;}
.footer-links li {display: block;padding: 10px 0;}
.footer-links {padding-top: 20px;}
.footer-links .nav.navbar-nav.navbar-left {padding-bottom: 20px;}
.footer-background {padding-bottom: 30px;}
.banner-title {top: 8%;}
.banner-title h1 {font-size: 30px;}
.banner-title p {font-size: 22px;}
.discover-btn{padding: 6px 20px !important;}
.search-btn {margin: 10px 0;}
.news-carousals .nbs-flexisel-nav-left {top: 70%;left: 44%;}
.news-carousals .nbs-flexisel-nav-right {top: 70%;}
.marketing-slider .nbs-flexisel-nav-right {right: 0%;}
.marketing-slider .nbs-flexisel-nav-left {left: 0%;}
.insta2-img {height: 150px !important;}
.instagram img{height: 200px}
.featured-releases {padding: 0px;}
.upcoming-events {padding: 0px 15px 0 15px;}
.event-img img {margin-top: 10px;}
.songs-insta {padding-top: 0px;}
.popular-songs img {padding-top: 10px;}
.heart-dancing ul {padding-top: 20px;}
.instagram img {margin-top: 10px;}
.form-footer {margin: 30px 0;}
.footer-border {margin-top: 30px;}
.footer-links {padding-top: 0px;}
.footer-background {padding-bottom: 10px;}
.nav.navbar-nav.navbar-left li a {padding: 0px !important;}
.news-carousals .details p {font-size: 14px;}
.news-carousals .details h1 {font-size: 18px;line-height:18px;}
.news-carousals .details{left:4px;}
.nbs-flexisel-item img {margin-top: 40px !important;}
.nbs-flexisel-nav-left, .nbs-flexisel-nav-right {top: 3%;}
.footer-head {text-align: center !important;}
.footer-head.footer-2 {width: 100%;float: none;margin-right: 0;}
.footericon {text-align: center;margin-top: 12px;float: none !important;}
.copy_write-content {text-align: center;}
.footer-logo1 {width: 100%;text-align: center;margin: auto;margin-top: 20px;}
.text-logo {position: relative !important;}
header.top-nav .navbar-right {width: 100% !important; margin: 0px !important;}
.oss_title_replace.oss_horizontal_share.share-container {text-align: center;}
.banner-bgimage {
    height: 140px !important;}
    .video {
    padding: 50px !important;}

.recent-posts {
    text-align: center;
}
.span12 h4 {
    text-align: center;
}
.recent_postsss img {
    display: inline-block;
}
.news-contentss{text-align: center;}
.blogcontent img {
    float: none !important;
}
.blogcontent .right-support-heading {
    padding-left: 0px !important;
}
.support-img-content {
    padding-left: 15px !important;
    padding-right: 15px !important;
}
li.social-icon img {
  height: 34px !important;

}
.recent-posts-news {

    text-align: center;

}
.row.calcy1 {

    margin-left: 0px !important;
margin-right: 0px;
}
.row.calcy {
    margin-left: 0px !important;
    margin-right: 0px !important;
}
.recent-posts {

    margin-left: 0px !important;

}
.blogcontent.round-image {
    margin-top: 20px;
}
.container-fluid.Banner-img {
    height: 100px !important;}
    .span13 {
    text-align: center;
    margin: auto;
}
h3.text-center.banner-event {

    margin-top: 6% !important;}
}
@media (max-width:574px){
.heart-dancing li {width: 30%;margin: auto;}
.heart-dancing ul {columns: 1;}
.popular-songs {text-align: center;}
.nav.navbar-nav.navbar-left li a {padding: 0px !important;}
.contact-form-footer {width: 90%;}
.news {width: 90%;}
}
@media (max-width:479px){
.banner-title {top: 3%;}
.banner-title h1 {font-size: 22px;}
.banner-title p {font-size: 15px;}
.discover-btn {padding: 4px 10px !important;font-size: 8px;}
.upcoming-events {padding: 0px 15px 0 15px;}
.heart-dancing li {width: 92%;}
.news-carousals .nbs-flexisel-nav-right {left: 52.5%;}
.learn-more-btn {padding: 6px 30px;font-size: 8px;}
.songs-insta {padding-top: 20px;}
.news-carousals .nbs-flexisel-nav-left {left: 42%;}
.insta2-img {height: 75px !important;}
.instagram img{height: 100px}
.top-nav .music-btn{padding: 6px 0px !important;font-size: 8px !important;}
.news-carousals .nbs-flexisel-nav-left {top: 75%;}
.news-carousals .nbs-flexisel-nav-right {top: 75%;}
.banner-bgimage {
    height: 100px !important;}
}
@media (max-width:375px){
.banner-title {top: 0%;}
.discover-btn {padding: 3px 10px !important;font-size: 8px !important;}
li.social-icon img {
    height: 34px !important;
    width: 34px !important;
}

}
@media screen and (max-width: 991px){
.mob-logo:hover {color: #fff;text-decoration: none;}
.top-nav .navbar-header {padding-bottom: 16px;}
.mob-logo {display: block;border: 1px solid #fff;padding: 9px 33px;margin-top: 0px;font-size: 30px;font-weight: 400;color: #fff;position: absolute;top: 4px;}
.nav.navbar-nav.navbar-center {display: none;}
.nav.navbar-nav.navbar-left li a {padding: 15px 7px;}
.navbar-header {
float: none;
}
.navbar-toggle {
display: block;
}
.navbar-collapse {
border-top: 1px solid transparent;
box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
}
.navbar-collapse.collapse {
display: none!important;
}
header.navbar-nav {

margin: 7.5px -15px;
width: 32% !important;
}
.navbar-nav〉li {
float: none;
}
.navbar-nav〉li〉a {
padding-top: 10px;
padding-bottom: 10px;
}
.navbar-text {
float: none;
margin: 15px 0;
}
/* since 3.1.0 */
.navbar-collapse.collapse.in {
display: block!important;
}
.collapsing {
overflow: hidden!important;
}

/*menu full width show*/
.navbar-nav .open .dropdown-menu {
position: static;
float: none;
width: auto;
margin-top: 0;
background-color: transparent;
border: 0;
-webkit-box-shadow: none;
box-shadow: none;
}
}

/*hover submenu and click*/
@media screen and (min-width: 992px){
ul.nav li:hover 〉 ul.dropdown-menu {
display: block;
}
}
/*My custom css start here*/
ul#menu-home-1 {padding-left: 0px;}
.tnp-field label {display: none;}
input.tnp-email {display: inline-block !important;width: 80% !important;border: 0px;box-shadow: inherit;font-size: 16px;padding: 0;
    letter-spacing: 3px;font-weight: 400;}
    .tnp-field input[type="submit"] {float: right;font-size: 20px;padding: 4px;margin-top: -33px; border: 0px; background: none !important;
}
/* my custom css end here */
.demo-container {
    border: 1px solid #009BE3;
    padding:0 20px;
    font-family: "Myriad Pro Regular","Trebuchet MS";
}

.demo-container a, .demo-container a:link, .demo-container a:visited, .demo-container a:hover, .demo-container a:focus, .demo-container a:active {
    color: #009BE3;
}

.demo-container ul {
    list-style-type:none;
    padding:0;
    margin:1em 0;
    width:100%;
    overflow:hidden;
}

.demo-container ul span {
    color: #A0A600;
}

.demo-container li {
    float:left;
    margin-right:1em;
}

.demo-container p span.track-name {
    color: #CC0090;
}
/*Contact page css*/

i.fas {
  display: inline-block;
    border-radius: 60px;
    box-shadow: 0px 0px 2px #0ddede;
    padding: 0.5em 0.6em;
    margin-bottom: 15px;
    /*margin-top: 40px;
    margin-left: 90px;*/
}
.Banner{
    height:220px;
    background-image: url('http://badpaddy.mobilytedev.com/wp-content/uploads/2018/08/contact-1.jpg');
}
.Banner-title{
    color: white;
    margin-left: auto;
    margin-right: 40%;
    width: 8em;
    margin-top: 65px;
}
.map-title{
    text-align: left;
    margin-bottom: 18px;
    font-family: monospace;
}
.Contact-footer{
    background-color: #151111fc;
    margin-top:15px;
}
.data {
    text-align: center;
        margin-top: 25px;
}
/*.menu-footer,li,p{
    color:white;
}*/
.Copyright{
    margin-left: 50%;
    margin-top: 2%;
}

h3.text-left.menu-footer {
    color: white;
}
.icon-info{
    color:black;
}
/* Video page css Satsrt*/
 *{margin:0; padding:0;}
.conatiner {margin: 0 auto;width: 100%;max-width: 1160px;}
.banner-bg{background-image:url(video.png);background-repeat:no-repeat;background-size:cover;}
.video{color:#fff;text-align:center;padding: 100px;font-size: 24px;margin:0;}
.our-video{color:#000;font-size: 24px; margin-bottom: 30px;}
.banner-bg {
    height: 335px;
}
/*End the css*/

a.logo-text {
    font-size: 30px;
    color: #fff;
        float: right;
    margin-top: 22%;
}
form.example {
    border: none;
    width: 220px;
    border-radius: 10px;
}
form.example input {
    border-radius: 10px;
    padding: 6px 12px;
    border: none;
}
button {
    border-radius: 10px;
    position: absolute;
    right: -40px;
    padding: 4px 18px;
    font-size: 14px;
}
/* Event Page CSS Start*/
    .container-fluid.Banner-img {
    background-image: url(http://badpaddy.mobilytedev.com/wp-content/uploads/2018/08/all-inner-page_02.jpg);
    height: 220px;
    background-size: 100% 100%;
}
h3.text-center.banner-event {
    margin-top: 10%;
    font-size: 36px;
    color: white;
}
.col-sm-1.round-image {
    margin-right: 45px;
    margin-bottom: 20px;
}


.support-content1 {
    margin-left: 17%;
    margin-top: 17px;
}
p.share-icon {
    margin-top: 12px;
    float: left;
}

li.social-icon {
    display: -webkit-inline-box;
}
li.social-icon img {
    height: 30px;
    width: 30px;
    margin-top: 10px;
}
.col-md-3.btn-more button {
    border-radius: 0px;
    border-color: deepskyblue;
    color: deepskyblue;
    
}
.col-md-3.btn-more {
    margin-left: -56px;
}

.row-category {
    margin-left: 22px;
}
/*.col-md-4 img {
    margin-left: -10px;
}*/
.recent-posts {
    margin-left: 10px;
}
span.octo {
    margin-left: -19px;
    color: deepskyblue;
}

p.event-news {
    margin-left: -17px;
}
.input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group {
    z-index: 2;
    margin-left: -40px;
}
.row-category ul {
    list-style: none;
}
.col-sm-1.round-image img {
    width: 60px;
    /* margin-bottom: -21px; */
}

.support-img-content img {
    width: 100%;
    height: 250px;
}
.row.calcy1 {
    margin-left: 14px;
}
.recent-posts h4 {
    margin-left: -4px;
}
.row.calcy {
    margin-left: -8px;
}
.recent-posts-news h4 {
    margin-left: 18px;
}

.btn-default {
    color: deepskyblue;
    background-color: #fff;
    border-color: deepskyblue;
    border-radius: 0px;
    float:right;
}
div#ajaxsearchlite1 {
    float: right;
    display: inline-block;
    margin: 0px 0px 18px 30px;
}
.featuredaudio {
    height: 300px;
    overflow: hidden;
}
/* Event Page CSS End*/

/*footer*/


.footer pt-4{background-color:#27282a;padding-top:50px;}
footer ul{margin:0;padding:0}   
footer ul li{list-style-type:none;}
footer ul li a{text-transform: capitalize;color:#838b8d !important;font-weight:400;font-size:14px;}
.footerbootom{margin-top:50px;border-top: 2px solid #323335;padding-top:25px;padding-bottom:25px;}
.footerbootom span{color:#fff;font-size: 14px;padding: 0 10px;}
.footericon li {display: inline-block;padding: 0 10px;}
.footericon {float: right;}
.text-logo {position: absolute;top: 50%;color: #fff;font-size: 22px;border: 2px solid #fff;padding: 4px 12px;margin-top: 20%;
    margin-left: 55%;}
.footer-head h1 {font-size: 22px;color: #fff;}
.footer-head p {color: #838b8d;font-size: 14px;}
.footer-head form input {color: #434343;font-size: 14px;font-weight: 600;padding: 12px 40px;border-radius: 40px;border: none;background: #323335;}
.footer-head button {position: absolute;left: 58%;color: #fff;border: none;font-size: 18px;background: #3399cc;padding: 8px 26px;border-radius: 40px;margin-top: -41px;}
.footer-head form {margin: 0px !important;}

footer.footer.pt-4 {
    background-color: black;
    margin-top: 15px;
}
a.logo-text { /*412*/
    color: #fff;
    float: right;
    margin-top: 22%;
    text-decoration: none;
    border: 1px solid #fff;
    padding: 6px 18px;
    font-size: 22px;
    font-weight: 400;
}
.span12 {
    margin-top: 20px;
}
.span12 button.btn.serch-box {
    position: absolute;
    right: 5px;
    padding: 1px 8px;
    border-radius: 0px;
    top: 3px;

}


.span12 input.search-query{
    margin-left: 8px;
}
/*div#___plus_1 {
    margin-left: -11px !important;
}*/
#os-share-counter-horz-side .os-share-counter-widget {
    margin-right: 15px !important;
}
h3.audio {
    color: white;
    text-align: center;
    margin-top: -1px;
    padding-top: 10%;
}
.banner-bgimage {
    height: 334px;
    background-size: 100% 100% !important;
}
div#___plus_0 iframe {
    width: auto !important;
}
#ajaxsearchlite1 {width: auto !important;}
.social-icon-share{padding-left:10px;float: left;}
.blogcontent img{width:50px;float: left}
.blogcontent .right-support-heading {    padding-left: 75px;}
.support-img-content {
    padding-left: 90px;
}
.recent_postsss {
    margin-top: 10px;
}
.recent_postsss2{
    margin-top: 10px;
}
.span13{
width: 177px;
position: relative;
}
ul.nav.navbar-nav.navbar-right i{
    font-size: 22px;
}
.audio_next_pre i{
    color: #f1f3f4 !important;
    font-size: 30px;
    cursor: pointer;
}
.audio_next_pre i:hover {
    color: black!important;
}