body { background: #f7f7f7; font-family: 'Karla', sans-serif;
}
h1, h2, h3, h4, h5, h6 {font-family: 'Karla', sans-serif;}
.navbar-brand img { width:300px;}
.top-bar {
    background: BLACK;
    COLOR: white;
}
ul.social-icons li {
    display: inline-block;
    margin: 10px 15px;
}
ul.social-icons {
    margin-bottom: 0px;
    float: right;
    padding-left: 0;
}
.top-date-info {
    margin-bottom: 0px;
    line-height: 1.4;
    margin: 10px 15px;
}
.readmore {
    background: #ef3657;
    color: white !important;
    padding: 25px 40px;
    line-height: 2.2;
}
.navbar-custom {
    background-color: rgba(0,0,0,.7);
      padding-top: 0;
    padding-bottom: 0;
	 padding: 0px !important;
	 min-height: 70px;
}
.navbar-custom .navbar-nav .nav-item .nav-link {
    text-transform: capitalize;
    font-size: .8rem;
    letter-spacing: .1rem;
    font-weight: normal;
}
.year-bar ul li a {
    color: #5a5a5a;
	font-family: 'Roboto Mono', monospace;

}

.year-bar ul .active a {
    color: #000;
	font-weight: 600;
}

.year-bar ul li {
    display: inline;
    list-style: none;
    font-size: 14px;
    margin: 10px 15px;
}
.year-bar ul {
    margin: 0 auto;
    text-align: center;
    padding: 15px 0;
	
}
.year-bar {
    background: #ece7e1;
}

.mater-section {  padding:4rem 0;}
.dropdown-filter * {
    display: inline;
    margin: 5px;
}
.dropdown-filter select {
    border: none;
    padding: 10px;
    min-width: 150px;
}
li a { font-family: 'Roboto Mono', monospace;
}
.card-fade {
    height: 35%;
    background: -webkit-gradient(linear,left top,left bottom,color-stop(20%,transparent),color-stop(40%,#000));
    background: linear-gradient(transparent 20%,#000 60%);
    position: absolute;
    bottom: 0;
}

.card-meta {	font-family: 'Roboto Mono', monospace;
}
i.fas.fa-play {
    position: absolute;
    top: 0;
    left: 0;
    background: red;
    color: #fff;
    padding: 15px;
}
section.videos-section {
    padding: 4rem 0;
}
.cool-link {
    display: inline-block;
    color: red;
    text-decoration: none;
    width: 100%;
    padding: 0;
}
.bg-image {
    overflow: hidden;
}
.card-sec img{ transition: all .2s ease-in-out; }
.card-sec img:hover { transform: scale(1.1); }

.cool-link::after {
    content: '';
    display: block;
    width: 0;
    height: 5px;
    background: red;
    transition: width .3s;
}

.cool-link:hover::after {
    width: 100%;
    //transition: width .3s;
}
.card-content {
    color: white;
    padding: 3rem 15px 0;
}
.videos-section img.img-fluid {
    min-height: 400px;
	
}



.card-sec {
    margin-bottom: 30px;
    position: relative;
}
.dropdown-filter {
    margin-bottom: 30px;
}
ul#menu-footer-nav li a {
    font-size: 13px;
    color: #a5a5a5;
}
.footer-bs {
    background-color: #1a1a1a;
	padding: 60px 40px;
	color: rgba(255,255,255,1.00);
	margin-bottom: 20px;
	border-bottom-right-radius: 6px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 6px;
}
.footer-bs .footer-brand, .footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { padding:10px 25px; }
.footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { border-color: transparent; }
.footer-bs .footer-brand h2 { margin:0px 0px 10px; }
.footer-bs .footer-brand p { font-size:12px; color:rgba(255,255,255,0.70); }

.footer-bs .footer-nav ul.pages { list-style:none; padding:0px; }
.footer-bs .footer-nav ul.pages li { padding:5px 0px;}
.footer-bs .footer-nav ul.pages a { color:rgba(255,255,255,1.00); font-weight:bold; text-transform:uppercase; }
.footer-bs .footer-nav ul.pages a:hover { color:rgba(255,255,255,0.80); text-decoration:none; }
.footer-bs .footer-nav h4 {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-bottom:10px;
}

.footer-bs .footer-nav ul.list { list-style:none; padding:0px; }
.footer-bs .footer-nav ul.list li { padding:5px 0px;}
.footer-bs .footer-nav ul.list a { color:rgba(255,255,255,0.80); }
.footer-bs .footer-nav ul.list a:hover { color:rgba(255,255,255,0.60); text-decoration:none; }

.footer-bs .footer-social ul { list-style:none; padding:0px; }
.footer-bs .footer-social h4 {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 3px;
}
.footer-bs .footer-social li { padding:5px 4px;}
.footer-bs .footer-social a { color:rgba(255,255,255,1.00);}
.footer-bs .footer-social a:hover { color:rgba(255,255,255,0.80); text-decoration:none; }

.footer-bs .footer-ns h4 {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-bottom:10px;
}
.footer-bs .footer-ns p {
    font-size: 16px;
    color: rgba(255,255,255,0.70);
}.footer-brand img { width:300px;}
ul.pages {
    list-style: none;
    padding-left: 0px;
}
ul.pages a {
    color: #ffffff;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
ul.pages li {
    display: inline-block;
	min-width: 160px;
}


.footer-bs .input-group input {
    background: none;
    border: none;
    border-bottom: 2px solid white;
    border-radius: 0;
}

button.btn.btn-default.newsletterbtn {
    background: #ef3657;
    border-radius: 0;
    padding: 10px 20px;
    color: white;
    margin: 0 10px;
}
.copyright {
    border-top: 1px solid #ccc;
    display: table;
    width: 100%;
}
	
	img.footer-twgLogo {
    width: 45px;
}
.footer-copyright {
    display: inline-block;
}
@media (max-width: 768px) { 

.card-fade {
    height: 50%;
    background: -webkit-gradient(linear,left top,left bottom,color-stop(20%,transparent),color-stop(40%,#000));
    background: linear-gradient(transparent 20%,#000 40%);
    position: absolute;
    bottom: 0;
    width: unset;
    padding: 100px 10px;
}

.input-group * {
    display: table;
    width: 100%;
    margin: 0px !IMPORTANT;
}
.footer-bs {
    background-color: #1a1a1a;
    padding:20px 15px;
    color: rgba(255,255,255,1.00);
    margin-bottom: 20px;
    border-bottom-right-radius: 6px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 6px;
}
.dropdown-filter {
    padding: 0 15px;
}
.mater-section {
    padding: 1.5rem 0;
}
.readmore {
    background: #ef3657;
    color: white !important;
    padding: 5px 20px;
    line-height: 2.2;
}
li.nav-item {
    float: left;
    margin-right: 30px;
    text-align: right;
}
nav.navbar.navbar-expand-lg.navbar-dark.navbar-custom {
    padding: 15px !important;
}
}
