/**
 * Stylesheet:  style.css
 * Theme:       RentalPlace - Single Property & Rental Home HTML5 Responsive Template
 * Version:     1.0
 * Author:     	Theme Vila
 * URL:         https://themeforest.net/user/themevila
 * 
 */
/* Table of contents
=========================
1.Preloader
2.Scrollup
3.Header Section
4.Menu  Section
5.Slider Section
6.Title Section
7.About Section
8.About Section
9.Count Up Section 
10.Projects Section
11. Service Section
12. Room Section
13.Property Details Section
14.Locations Section
15.Call To Action Section
16.Blog Section
17.Sidebar Section
18.Testimonial Section
19.Page Heading Section
20.Team section
21.About Page
22.Contact Page
23.Footer Section 
===========================*/

/*------------------*/
/*Theme default CSS
/*------------------*/
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none; }

html,
body {
  height: 100%;
  font-size: 16px;
  color: #424242;
font-family: 'Source Sans Pro', sans-serif;
  vertical-align: baseline;
  line-height: 26px;
}
a:focus {
  outline: 0px solid;
}
img {
  max-width: 100%;
  height: auto;
}
p {
  margin: 0 0 15px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 15px;
  font-weight: 600;
font-family: 'Source Sans Pro', sans-serif;
  color: #464646;
}

h1 {
font-size: 32px;
}
h2 {
font-size: 22px;
}
h3 {
font-size: 18px;
}

a {
  transition: all 0.5s ease-out;
  text-decoration: none;color:#464646
}
a:active,
a:hover {
  outline: 0 none;
  color: #000;text-decoration:none
}
ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}

::-moz-selection {
  background: #09be51;
  text-shadow: none;color:#fff
}
::selection {
  background: #09be51;
  text-shadow: none;color:#fff
}
textarea:focus, input:focus{
    outline: none;
}
.slider-overlay {
  background-color: rgba(0, 0, 0, 0.4);
  height: 100%;  width: 100%;
  position: absolute;
  top: 0;z-index:1

}
.images-overlay {
   background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
  position: absolute;  width: 100%;
  top: 0;

}
.border-shape {
  background: #09be51 none repeat scroll 0 0;
  color: #fff;
  display: block;
  height: 3px;
  left: 0;
  margin: 20px auto;
  position: relative;
  right: 0;
  text-align: center;
  top: 0;
  width: 80px;
}
.border-shape::before {
  background: #09be51 none repeat scroll 0 0;
  bottom: 0;
  content: "";
  height: 1px;
  left: 80px;
  margin: 0 auto;
  position: absolute;
  text-align: center;
  top: 1px;
  width: 100px;
}
.border-shape::after {
  background: #09be51 none repeat scroll 0 0;
  bottom: 0;
  content: "";
  height: 1px;
  margin: 0 auto;
  position: absolute;
  right: 80px;
  text-align: center;
  top: 1px;
  width: 100px;
}
.section-title {
  color: #464646;
  text-transform: uppercase;
  font-size: 20px;
  margin-bottom: 30px;
}
.pt-50{padding-top:50px}
.pb-20{padding-bottom:20px}
.pb-50{padding-bottom:50px}
.bg-color{background:#eef6f1}
.bg-gray{background:#ececec}
.slider {
  overflow: hidden;
}

/*
1.Preloader
============================*/
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 9999999;
	right: 0;
    bottom: 0;
}
#preloader-status {
    height: 210px;
	width: 210px;
    background: url(../img/preloader.gif);
    background-repeat: no-repeat;
    background-position: center;
    margin: -100px 0 0 -100px;
    position: absolute;
    left: 50%;
    top: 50%;	
}

/*
2.Scrollup
==============*/
#scrollUp {
background: #09be51 none repeat scroll 0 0;
border-radius:2px;
bottom: 5px;
color: #fff;
font-size: 25px;
height: 40px;
right: 20px;
text-align: center;
text-decoration: none;
width: 40px;
}
#scrollUp:hover {
  opacity: 1;
  color: #fff!important;background:#07aee1;
}
#scrollUp i {
display: block;
font-weight: bold;
padding-top: 6px;
}

/*
3.Header Section
==================*/
.hd-sec {
  background: #000  none repeat scroll 0 0;
  padding: 4px 0;
}
.hd-lft li {
color: #fff;
display: inline-block;
padding: 0 15px;
position: relative;
font-size: 13px;
}
.hd-lft li:first-child:before{content:""}
.hd-lft li::before {
  content: "|";
  position: absolute;
  left: 0;
}
.hd-lft li i{margin-right:10px;color:#09be51}
.hd-rgt{float:right}
.hd-rgt li {display:inline-block;position:relative}
.hd-rgt li a {
  color: #fff;
  font-size: 14px;
  padding: 0 10px;
  position: relative;
  text-transform: capitalize;
}
.hd-rgt li::before {
border-left: 1px solid #fff;
content: "";
height: 45%;
position: absolute;
top: 7px;
}
.hd-rgt li:last-child::before{display:none}
.hd-rgt li:first-child::before{display:none}
.hd-rgt li a i{margin-right:8px;color:#09be51}

/*
4.Menu  Section
=================*/
.mnmenu-sec{background: #fff none repeat scroll 0 0;
}
.logo {
  padding: 28px 0px;
}
.main-menu ul {
float : right;
list-style : none outside none;
margin : 0;
padding : 0;
position : relative;
}
.main-menu ul>li {
display:inline-block;
padding : 0;
position : relative;
}
.main-menu ul li a {
color: #464646;
display: block;
font-size: 15px;
font-weight: bold;
padding: 31px 18px;
position: relative;
text-decoration: none;
text-transform: uppercase;
transition: all 0.4s ease 0s;
}
.main-menu ul li.active a{color:#09be51;position:relative}

.main-menu ul li ul:hover .main-menu ul li a{
  background: #ddd;
}
.main-menu ul li a:hover {
transition : all 0.4s 0s ease;
color:#09be51
}

.main-menu ul ul {
border-top: 2px solid #09be51;
left: 0;
opacity: 0;
position: absolute;
text-align: left;
top: 170px;
transition: all 0.4s ease 0s;
visibility: hidden;
z-index: 99999;
background: #fff;
}
.main-menu ul ul li {
float : none;
width : 200px;
}
.main-menu ul ul li{
border-bottom: 1px solid #ececec;
}
.main-menu ul ul li:last-child{border-bottom:0}
.main-menu ul ul li a {
color: #666;
padding: 10px;
}
.main-menu ul ul li a:hover {
color:#fff;background:#09be51
}
.main-menu ul ul ul {
top : 0;
left : 100%;
}
.main-menu ul li:hover ul {	
 visibility: visible;transition: all 0.4s ease 0s; opacity: 1;transform: scaleX(1);top:87px;opacity:1
}
.main-menu ul li a i {
font-size: 12px;
margin-left: 6px;
color: #09be51;
}
.mnmenu-sec.sticky_menu {
  background-color: #fff;
  left: 0;
  right: 0;
  top: 0;  
  position: fixed;
  z-index: 998;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
}
.hd-rgt ul li:last-child {
  background: #09be51;
  border-radius:2px
}
.hd-rgt ul li:last-child a{color: #fff;}
.hd-rgt ul li:last-child:hover{background:#424242;transition: all 0.4s ease 0s;}
/*
5.Slider Section
======================*/
.all-slide .owl-item {
  height: 500px;
}
.all-slide .single-slide {
background-position: center center;
background-size: cover;
height: 100%;
background-repeat: no-repeat;
}
.slider-text {
  left: 0;
  margin: 0 auto;
  position:relative;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  padding: 0px 210px;z-index:2
}
.slider-text h1 {
color: #fff;
font-size: 32px;
text-transform: uppercase;
}
.slider-text p {
  color: #fff;
}
.slider-text li {
  display: inline-block;
}
.slider-text li a {
background: #ff9524 none repeat scroll 0 0;
border-radius: 2px;
color: #fff;
display: inline-block;
margin: 10px 3px 0px 3px;
padding: 12px 30px;
text-transform: uppercase;
}
.slider-text li:last-child a{background: #09be51 none repeat scroll 0 0;}
.slider-text li:last-child a:hover{background: #424242 none repeat scroll 0 0;transition: all 0.4s ease 0s;}
.all-slide .owl-controls {
position: absolute;
top: 45%;
width: 100%;
z-index: 99;
transform: translateY(-50%);
}
.all-slide .owl-controls .owl-buttons div {
background: none;
opacity: 1.00;
}

.all-slide .owl-controls .owl-prev {
	left: 0px;
	position: absolute;
	background: none;
	padding: 0;
}
.all-slide .owl-controls .owl-next {
	right: 0px;
	position: absolute;
	background: none;
	padding: 0;  
}
.all-slide .owl-controls .owl-prev i,
.all-slide .owl-controls .owl-next i {
color: #fff;
font-size: 30px;
height: 40px;width: 40px;text-align: center;
line-height: 40px;
transition: all 0.5s ease-out 0s;
background: #09be51;border-radius: 2px;
}

.all-slide .owl-controls .owl-next i:hover {
transition: all 0.5s ease-out 0s;background:#424242;color:#fff
}
.all-slide .owl-controls .owl-prev i:hover {
transition: all 0.5s ease-out 0s;background:#424242;color:#fff
}


/*
6.Title Section
=================*/
.sec-title {
margin: 0 250px 50px;
text-align: center;
}
.sec-title  h1 {
color: #09be51;
font-size: 34px;
font-weight: bold;
text-transform: uppercase;
}

.sec-title h1 span {
color: #424242;
margin-left: 10px;
}

.sec-title  p {
  margin-bottom: 0;
  margin-top: 20px;
}
/*
7.Booking Section
===================*/
.booking-sec{background: #09be51 none repeat scroll 0 0;
padding: 40px 0;
margin-top: -1px;}
.single-field input {
  background: #fff none repeat scroll 0 0;
  color: #d5d4d4;
  padding: 10px;
  width: 100%;
  border: 1px solid #fff;
  border-radius: 2px;
}
.single-field select {
	-moz-appearance: none;
-webkit-appearance: none;
  background: #fff;
  border: 1px solid #fff;
  padding: 10px;
  width: 100%;
  border-radius: 2px;cursor: pointer;
}
.booking-sec .select-arrow {
  position: relative;
}
.booking-sec .select-arrow::before {
  color: #ff9524;
  content: "";
  font-family: fontawesome;
  position: absolute;
  right: 15px;
  top: 10px;
}
.single-field  h4 {
color: #fff;
font-size: 14px;
font-weight: 800;
text-transform: uppercase;
}
.single-field input[type="submit"] {
background: #2e17ff none repeat scroll 0 0;
color: #fff;
text-transform: uppercase;
transition: all 0.4s ease 0s;
border: 1px solid #2e17ff ;
}
.single-field input[type="submit"]:hover{background: #fff  none repeat scroll 0 0;transition: all 0.4s ease 0s;color:#424242;border-color:#fff}
/*
8.About Section
===================*/
.about {
padding-bottom: 30px;
padding-top: 50px;
}
.about h3 {
  text-transform: uppercase;
}

/*
9.Count Up Section 
============================*/
.count-up-sec {
  background-color: #fff;
  background-image: url("../img/bannar.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px 0px;
  position:relative;background-attachment:fixed
}


.count-up-sec .sec-title h1 {
  color: #fff;
}
.count-up-sec .sec-title p {
  color: #fff;
}
.counting_sl {
  text-align: center;
}
.counting_sl i {
color: #09be51 ;
font-size: 32px;
height: 60px;
line-height: 60px;
text-align: center;
width: 60px;
}
.counting_sl h2 {
color: #fff;
font-size: 34px;
margin-top: 10px;
text-transform: uppercase;
}
.counting_sl h4 {
color: #fff;
font-size: 14px;
margin-bottom: 0;
text-transform: uppercase;
}

/*
10.Projects Section
============================*/
.project-sec .item {
margin-bottom: 30px;
overflow: hidden;
position: relative;
transition: all 0.4s ease-in-out 0s;
border-radius: 2px;
}
.project-sec .item:hover .project-hoverlay{visibility:visible;opacity:1;transform:scale(1);}
.project-hoverlay {
  position: absolute;
  top:0;
  width: 100%;
  height: 100%; background-color: rgba(9, 190, 8, 0.9); transition: all 0.4s ease-in-out 0s;visibility:hidden;opacity:0;transform:scale(0);
}
.project-sec .item:hover .project-text  a{top:0;}
.project-text {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}
.project-text  a {
background: #fff none repeat scroll 0 0;
border-radius: 100%;
color: #09be51;
display: inline-block;
height: 50px;
line-height: 50px;
margin-bottom: 15px;
position: relative;
top: -150px;
width: 50px;
}
.project-text a:hover{background:#424242;transition: all 0.4s ease 0s;color:#fff}
.project-text  h3 {
  color: #fff;
  text-transform: uppercase;
}
.project-sec .item img {
  width: 100%;
}
/*
11. Service Section
============================*/

.service-sec .inner {
margin-bottom: 30px;
text-align: center;
}
.service-sec .inner:hover .btn.morebutton{background:#2e17ff;transform: scale(1);}
.service-sec .text-center img {
  margin-bottom: 40px;
}
.service-sec i {
background: #09be51 none repeat scroll 0 0;
border-radius: 100%;
color: #fff;
font-size: 24px;
height: 60px;
line-height: 60px;
text-align: center;
width: 60px;
}
.btn.morebutton {
color: #fff;
transform: scale(0);
}
.service-sec .media-body > h2 {
  margin-top: 20px;
}

/*
12. Room Section
============================*/
.single-room {
box-shadow: 0 0 10px 5px #e3e3e3;
margin-bottom: 30px;
overflow: hidden;
padding: 15px;
position: relative;
}
.room-thumb img {
  width: 100%;
}
.room-meta li {
  color: #666;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  margin-right: 14px;
}
.room-meta li a{color: #666;}
.room-meta li.price {
color: #ff9524;
float: right;
margin-right: 0;
font-size: 18px;
font-weight: bold;
}
.room-info span {
  margin-right: 10px;
}
.single-room i {
  margin-right: 6px;
  color: #09be51;
}
.room-info h2{margin-bottom: 10px;
margin-top: 10px;}
.room-info h2 a {
  font-size: 16px;
  text-transform: uppercase;
}
.room-meta {
  border-top: 1px solid #ececec;
  padding-top: 8px;
}
.address {
  margin-bottom: 5px;
}
.room-thumb {
  position: relative;
}
.room-sell {
  top: 20px;
  position: absolute;
  width: 100%;
  padding: 0px 10px;
}
.room-sell li.feature{float:left}
.room-sell li.sell{float:right}
.room-sell li.sell a{background:#ff9524}
.room-sell li a {
  display: inline-block;
  background: #09be51;
  padding: 4px 10px;
  color: #fff;
  border-radius: 2px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
}
.single-room-overlay {
position: absolute;
top: 50%;
transform: scale(0);
transition: all 0.4s ease 0s;
visibility: hidden;
width: 100%;
text-align: center;
}
.single-room:hover .single-room-overlay {visibility: visible;transform:scale(1);transition: all 0.4s ease 0s;}
.single-room-overlay a {
  background: #2e17ff none repeat scroll 0 0;
  color: #fff;
  padding: 12px 30px;
  border-radius: 2px;transition: all 0.4s ease 0s;
}
.single-room-overlay a:hover{background:#424242;transition: all 0.4s ease 0s;}


/*
13.Property Details Section
============================*/
.property-sec i {
  color: #09be51;
  margin-right: 6px;
}
.property-sec .room-info a.booking-button {
  background: #09be51 none repeat scroll 0 0;
  border-radius: 2px;
  color: #fff;
  padding: 12px 30px;
  transition: all 0.4s ease 0s;
}
.property-sec .room-info span {
  font-weight: bold;
}
.property-thumb .owl-controls {
position: absolute;
top: 50%;
width: 100%;
z-index: 99;
transform: translateY(-50%);
}
.property-thumb .owl-controls .owl-buttons div {
background: none;
opacity: 1.00;
}

.property-thumb .owl-controls .owl-prev {
  left: 0px;
  position: absolute;
  background:transparent;
  padding:0
}
.property-thumb .owl-controls .owl-prev:hover,
.property-thumb .owl-controls .owl-next:hover{background:none;}
.property-thumb .owl-controls .owl-next {
	right: 0px;
	position: absolute;
	background:none;
	padding:0 
}
.property-thumb .owl-controls .owl-prev i,
.property-thumb .owl-controls .owl-next i {
color: #fff;
font-size: 30px;
height: 40px;width: 40px;text-align: center;
line-height: 40px;
transition: all 0.5s ease-out 0s;
background: #09be51;border-radius: 2px;
}

.property-thumb .owl-controls .owl-next i:hover {
transition: all 0.5s ease-out 0s;background:#424242;color:#fff
}
.property-thumb .owl-controls .owl-prev i:hover {
transition: all 0.5s ease-out 0s;background:#424242;color:#fff
}
/*
14.Locations Section
============================*/

.single-locations  img  {
  width: 100%;
}
.single-locations {
margin-bottom: 25px;
overflow: hidden;
position: relative;
border-radius: 2px;
}
.locations-text {
  position: relative;
  top: 80%;
  transform: translateY(-50%);
  text-align: center;transition: all 0.4s ease 0s;
}
.single-locations:hover .locations-text{top: 50%;transition: all 0.4s ease 0s;}
.locations-text a {
  color: #fff;
}
.locations-text > p {
  color: #fff;
}
.single-locations:hover .locations-overlay{background-color: rgba(9, 190, 8, 0.9);transition: all 0.4s ease 0s;}
.locations-overlay {
  background-color: rgba(0, 0, 0, 0.4);
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;transition: all 0.4s ease 0s;
}

/*
15.Call To Action Section
============================*/
.call-to-action-sec {
  background: #ff9524 none repeat scroll 0 0;
}

.call-to-action-text  h2 {
text-transform: uppercase;
color: #fff;
margin-bottom: 0;
margin-top: 10px;
text-align: left;
}
.call-to-action-text a.btn {
background: #2e17ff none repeat scroll 0 0;
color: #fff;
float: right;
font-weight: bold;
padding: 12px 36px;
text-transform: uppercase;
border-radius: 2px;
}
.call-to-action-text a.btn:hover{background: #424242;transition: all 0.4s ease-in-out 0s;color:#fff;}

/*
16.Blog Section
==================*/
.blog-sec .blog-post {
  padding: 0;
}
.single-post .contact-field h2 {
  margin-bottom: 4px;
  font-size: 18px;
}
.single-post {
  display: inline-block;
  margin-bottom: 30px;
}
.blog-title  h2 {
color: #0f0f0f;
font-size: 24px;
font-weight: 900;
line-height: 30px;
}
.single-post-text a {
color: #464646;
font-size: 16px;
font-weight: bold;
text-transform: uppercase;
}
.pst_info {
  float: left;
  display: inline-block;
}
.post-date h2 {
  background: #09be51;
  text-align: center;
  padding: 10px 5px;
  font-size: 18px;
  color: #fff;
}
.blog-title {
  padding-bottom: 20px;
}
.single-post  img {
width: 100%;
margin-bottom: 14px;
}

.comment-list {
border: 1px solid #ddd;
font-size: 18px;
padding: 14px;
text-align: center;
}
.comment-list h5 {
  margin-bottom: 0;
}
.single-post-text h2 {
margin-bottom: 10px;
}
.single-post-text  ul {
  display: inline-block;
  width: 100%;
}
.single-post-text li a {
float: left;
font-size: 16px;
font-weight: normal;
margin-left: 1px;
padding-right: 15px;
text-transform: capitalize;
}
.single-post-text li a i{color: #09be51;}
.single-post-text li a i{margin-right: 5px;}
.post-date h1 {
  background: #f3af1e none repeat scroll 0 0;
  color: #fff;
  display: inline-block;
  font-size: 18px;
  margin-top: 13px;
  padding: 15px;
  text-align: center;
  text-transform: none;
}
.btn.blog-btn {
  padding: 0;
  color: #09be51;
  font-size: 14px;
  position: relative;
}
.btn.blog-btn:before{color: #09be51;
content: "\f101";
font-family: "FontAwesome";
position: absolute;
right: -16px;}
/*
17.Sidebar Section
=====================*/
.sidebar h1 {
background: #09be51 none repeat scroll 0 0;
color: #fff;
display: inline-block;
font-size:18px;
margin-bottom: 10px;
margin-top: 20px;
text-transform: uppercase;
width: 100%;
padding: 10px;
}
.search-field form {
display: inline-block;
width: 100%;
position: relative;
}

.search-field input[type=text] {
background: #ececec none repeat scroll 0 0;
color: #222;
padding:10px 35px 10px 10px;
width: 100%;
}

.search-field button {
background: #09be51 none repeat scroll 0 0;
color: #fff;
position: absolute;
padding:10px;
right: 0;top:0
}
.search-field i {
  color: #fff;
  margin-right: 0;
}
.blog-sec .inner:nth-child(2n+1) {
  clear: both;
}
.abt_dec > p {
  margin-top: 20px;
}

.sidebar ul li a{color: #717171;
font-size: 14px;
font-weight: normal;
text-transform: capitalize;transition: all 0.4s ease-in-out 0s;}
.sidebar ul li a:hover{transition: all 0.4s ease-in-out 0s;color:#09be51}
.widget-archive li{position:relative}
.widget-archive li:last-child {
  border-bottom: none;
}
.widget-cat li:last-child {
  border-bottom: none;
}
.widget-cat li{position:relative}
.widget-archive li:before{content: '\f105'; /* fa-angle-right */
  font-family: 'FontAwesome';
color: #717171;
padding-right:10px}
.widget-cat li:before{content: '\f105'; /* fa-angle-right */
  font-family: 'FontAwesome';
color: #717171;
padding-right:10px}
.widget-cat li {
  padding: 10px 0;
  border-bottom: 1px solid #ececec;
}
.widget-tag li a:hover{transition: all 0.4s ease-in-out 0s;background:#09be51;color:#fff!important;border-color:#09be51}
.relative-post h3 {
font-size: 15px;
text-transform: capitalize;
margin-bottom: 10px;
}
.relative-post {
border-bottom: 1px solid #ececec;
display: inline-block;
padding: 12px 0;
width: 100%;
}
.relative-post-thumb {
  float: left;
  margin-right: 15px;
}
.single_r_dec  a {
color: #717171;
line-height: 20px;
}
.single_r_dec  a:hover{ transition: all 0.4s ease-in-out 0s;color:#09be51 }
.all_r_pst .media {
  margin-top: 0;
}
.single_r_dec p {
  margin-bottom: 0;
}


.widget-archive li {
border-bottom: 1px solid #ebebeb;
display: inline-block;
padding: 10px 0;
position: relative;
width: 100%;
}
.widget-archive span {
  float: right;
}
.widget-tag a {
  float: left;
  padding: 10px;
  border: 1px solid #ececec;
  margin-right: 5px;
  margin-bottom: 5px;
}

.author_dec h3 {
margin : 0;
color : #333333;
font-size : 14px;
margin-bottom : 11px;
}
.author_info {
border-bottom : 1px solid #e3e3e3;
display : inline-block;
padding : 22px 0;
margin-bottom : 30px;
}
.author_info > img {
  float: left;
  margin-right: 35px;
  height: 80px;
}
.social_link {
margin : 0;
padding : 0;
float : right;
display : inline-flex;
}
.social_link li {
list-style : none;
}
.social_link li a i {
color : #363636;
float : left;
padding : 6px;
}
/*
18.Testimonial Section
=========================*/
.testimonial-sec {
background-image: url("../img/testimonial_bg.jpg");
background-repeat: no-repeat;
padding-bottom: 30px;
padding-top: 50px;
position: relative;
background-attachment: fixed;
background-position: center center;
background-size: cover;
}
.testimonial-overlay {
  background-color: rgba(255, 255, 255, 0.9);
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}
.testimonial-title  h1 {
color: #464646;
font-size: 24px;
font-weight: bold;
line-height: 30px;
padding: 15px;
text-transform: uppercase;
text-align: center;
}
.testimonial-title {
  margin-top: 20px;
}
.testimonial-sec .left i, .testimonial-sec .right i {
background: #09be51 none repeat scroll 0 0;
border-radius: 100%;
color: #fff;
display: inline-block;
font-size: 22px;
font-weight: bold;
height: 40px;
line-height: 40px;
position: absolute;
text-align: center;
top: 50%;
transform: translateY(-50%);
width: 40px;transition: all 0.4s ease 0s;
}

.testimonial-sec .right i{right:0}
.testimonial-sec .carousel-indicators li {
  background: #545454;
  border: none;display:none
}
.testimonial-sec .carousel-indicators .active{
  background: #00AFF0;
  border: none;
}

.client-dsc  h2 {
color: #ff9524;
font-size: 18px;
margin-bottom: 10px;
}
.client-dsc h6 {
color: #09be51;
font-size: 14px;
margin-bottom: 10px;
}
.sngle-tsmt  img {
background: #fff none repeat scroll 0 0;
border: 1px solid #ddd;
border-radius: 100%;
height: 100px;
margin: 20px 0;
width: 100px;
}
.sngle-tsmt {
padding: 0 50px;
text-align: center;
}

/*
19.Page Heading Section
==========================*/
.pagehding-sec {
  background-image: url("../img/pg_hd.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  padding: 50px 0;position:relative;
}
.page-heading  h1 {
  font-size:34px;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
}
.page-heading {
  text-align: center;
}
.page-heading li {display: inline-block;
position: relative;
padding: 0px 14px;}
.page-heading li a {
  color: #fff;
}
.page-heading li:last-child a {
  color: #09be51;
}
.page-heading li::before {
border-right: 1px solid #fff;
content: "";
height: 50%;
position: absolute;
right: -3px;
top: 8px;
}
.page-heading li:last-child::before{display:none}

/*
20.Team section
=================*/
.team-member {
border-radius: 2px;
margin-bottom: 30px;
overflow: hidden;
padding-bottom: 20px;
position: relative;
text-align: center;
background: #eef6f1;
}
.team-member:hover .team-overlay{visibility:visible;transition: all 0.4s ease-in-out 0s;opacity:1;transform:scaleY(1)}
.team-overlay {
  position: absolute;
  visibility:hidden; transition: all 0.4s ease-in-out 0s;opacity:0;transform: scaleY(0);height:100%;top:0;background:#09be51;margin-top: 10px;width:100%
}
.team-overlay li a i,
.team-overlay h2,
.team-overlay h3{color:#fff}
.team-overlay > ul {
padding-bottom:10px
}
.team-member img{width: 100%;
border-bottom: 4px solid #09be51;}
.team-member  h2 {
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
  text-transform: uppercase;
}
.team-member  h3 {
  font-size: 14px;
  text-transform: capitalize;
}
.team-member li {
  display: inline-block;
}
.team-member li a{height: 30px;
width: 30px;
display: inline-block;
border: 1px solid #09be51;
border-radius: 2px;
margin: 0px 2px;}
.team-member li i{color:#09be51}
/*
21.About Page
================*/
.abtdsc-sec p {
  color: #fff;
}
.abt-lft h2 {
color: #464646;
}
.abt-img img {
  width: 100%;
}

/*
22.Contact Page
============================*/
.contact-field  h2,
.map-heading h2 {
color: #464646;
font-size: 24px;
font-weight: bold;
line-height: 32px;
margin: 0 0px 30px;
padding-bottom: 16px;
position: relative;
text-transform: uppercase;
}
.contact-field .col-md-4.col-sm-4.col-xs-12,
.contact-field .message-input {
  padding-left: 0;
}
.contact-info h3 {
  color: #464646;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  padding: 30px 0;
}
.contact-info i {
  margin-right: 10px;
}
.contact-field input {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #E5E5E5;
  margin-bottom: 30px;
  padding: 10px;
  width: 100%;
}
.contact-field .message-input {
  display: inline-block;
  width: 100%;
}
.single-input-field textarea {
  border: 1px solid #E5E5E5;
  width: 100%;
  height: 200px;
  padding: 10px;
}
.single-input-fieldsbtn input[type="submit"] {
background: #09be51 none repeat scroll 0 0;
color: #fff;
margin-top: 20px;
text-transform: uppercase;
border-color: #09be51;
}
.single-input-fieldsbtn input[type="submit"]:hover{background:#000;transition: all 0.4s ease-in-out 0s;border-color:#000}
.contact-field {
  display: inline-block;
}
.single-input-field  h4 {
  color: #464646;
  text-transform: capitalize;
  font-size: 14px;
}
.contact-person h1 {
font-size: 24px;
text-transform: uppercase;
}

.single-info h2 {
  font-size: 14px;
  font-weight: bold;
  text-transform: capitalize;
  margin-bottom: 10px;
  margin-top: 30px;
}

.map-sec iframe{width:100%;height:450px}
/*
23.Footer Section 
======================*/
.footer-sec {
background-color: #242424;
background-image: url("../img/map.png");
background-origin: padding-box;
background-repeat: no-repeat;
background-size: cover;
padding: 50px 0;
}
.footer-sec h2 {
color: #fff;
font-size: 20px;
margin-bottom: 10px;
position: relative;
text-transform: uppercase;
padding-bottom: 10px;
margin-bottom: 20px;
}
.footer-sec h2:before {
border-left: 3px solid #09be51;
top: 4px;
content: "";
position: absolute;
height: 18px;
left: -7px;
}
.footer-sec p {
  color: #ccc;
}

.footer-wedget-one i {
color: #09be51;
float: left;
font-size: 18px;
line-height: 40px;
margin-right: 20px;
text-align: center;
transition: all 0.4s ease-in-out 0s;
}
.footer-wedget-one ul {
  margin-top: 15px;
}

.footer-wedget-three li i {
  display: inline-block;
  margin-right: 10px;
}
.ft-menu ul {
  padding: 0px 20px;
}
.ft-menu h2 {
  display: inline-block;
  text-align: left;
}
.footer-wedget-three li {
color: #ccc;
font-family: "Source Sans Pro",sans-serif;
padding-bottom: 10px;
}
.footer-wedget-two li{padding-bottom:10px} 
.footer-wedget-two li a {
color: #ccc;
text-transform: capitalize;
display: inline-block;
 transition: all 0.4s ease-in-out 0s;
}
.footer-wedget-two li a i {
  margin-right: 10px;
}
.footer-wedget-two li a:before{content: '\f101 '; /* fa-angle-right */
  font-family: 'FontAwesome';
color: #09be51;
padding-right:10px}

.footer-wedget-newsletter form {
  background: #525459 none repeat scroll 0 0;
  margin-top: 35px;position:relative
}
.footer-wedget-newsletter input[type="email"] {
background: #525459 none repeat scroll 0 0;
border: 1px solid #525459;
color: #fff;
padding: 10px 46px 10px 10px;
width: 100%;
text-transform: capitalize;
}
.footer-wedget-newsletter input[type="submit"] {
background: #09be51 none repeat scroll 0 0;
border: 1px solid #09be51;
color: #fff;
top: 0;
padding: 10px;
position: absolute;
right: 0;
}
.footer-bottom-sec {
  background: #282828  none repeat scroll 0 0;
  padding: 15px 0;
}
.footer-bottom-sec p {
color: #09be51;
font-weight: bold;
margin: 0;
text-align: center;
}

/* The End */
