@media only screen and (min-width: 992px) and (max-width: 1199px) {
body {
  font-size: 14px;
  line-height: 24px;
}	
h1 {
font-size: 22px;
}
h2 {
font-size: 18px;
}
h3 {
font-size: 16px;
}
.room-meta li{margin-right:10px}		
.main-menu ul li a{padding:30px 15px}
.feature-intro .single-intro {
  padding: 50px 12px;
}

.all-testimonial .owl-controls {
  top: 50%;
}
.all-testimonial .owl-controls .owl-next {
  right: -55px;
}
.all-testimonial .owl-controls .owl-prev {
  left: -55px;
}

.sngl-client {
  margin:10px;
}
.special-service-sec .inner:nth-child(3n+1) {
  clear: both;
}
.sec-title {
  margin: 0 100px 60px;
}
.slider-text {
  padding: 0 55px;
}
.main-menu ul li:hover ul {	
top:84px
}

}
@media only screen and (max-width: 767px) {

.logo {
  padding-bottom: 0;
  text-align: center;
}
.sec-title {
  margin: 0 0 60px;
}
.counting_sl {
  margin: 40px 0;
}
.pricing-sec .inner-item {
  padding: 15px;
  margin: 10px 0;
}

.special-service-sec .inner:nth-child(2n+1) {
  clear: both;
}
.all-testimonial .owl-controls {
  top: 50%;
}
.all-testimonial .owl-controls .owl-next {
  right: -8px;
}
.all-testimonial .owl-controls .owl-prev {
  left: -8px;
}
.single-testimonial {
  margin: 54px;
}

.client-comment li a {
  margin: 0 2px;
}
	
.slider-text {
  padding: 0 55px;
}
.about img {
  margin-bottom: 30px;
}
.main-menu ul {
float:none;
text-align: center;
}
body {
  font-size: 14px;
  line-height: 24px;
}	
h1 {
font-size: 22px;
}
h2 {
font-size: 18px;
}
h3 {
font-size: 16px;
}	
.container{overflow:hidden}
.single-field {
  margin-bottom: 20px;
}
.room-details {
  margin-bottom: 30px;
}
.abt-img img {
  margin-bottom: 20px;
}
}


@media only screen and (min-width: 768px) and (max-width: 991px) {
body {
  font-size: 14px;
  line-height: 24px;
}	
h1 {
font-size: 22px;
}
h2 {
font-size: 18px;
}
h3 {
font-size: 16px;
}
.room-meta li {
  margin-right: 14px;
}
.mnmenu-sec.sticky_menu{position:relative}
.single-post-text li a {
  font-size: 13px;
}
.main-menu ul li a{padding:30px 13px}	
.contact-person {
  padding: 10px 15px;
}
.logo {
  padding-bottom: 0;
  text-align: center;
}
.sec-title {
  margin: 0 0 60px;
}
.counting_sl {
  margin: 40px 0;
}

.special-service-sec .inner:nth-child(2n+1) {
  clear: both;
}
.all-testimonial .owl-controls {
  top: 50%;
}
.all-testimonial .owl-controls .owl-next {
  right: -22px;
}
.all-testimonial .owl-controls .owl-prev {
  left: -22px;
}

.client-comment li a {
  margin: 0 2px;
}
.footer-sec .col-md-3.col-sm-6 {
  margin-bottom: 25px;
}

.contact-person {
  padding: 10px 15px;
}

.faq-img {
  margin-top: 50px;
}
.slider-text {
  padding: 0 55px;
}
.all-slide .single-slide {
  background-size: 100% 100%;
}
.about img {
  margin-bottom: 30px;
}
.slider-text p {
  padding: 0 0px;
}
.hd-lft li {
  padding: 0 4px;
}
.hd-lft li::before{display:none}
.footer-sec .col-md-3.col-sm-6:nth-child(2n+1) {
  clear: both;
}
.main-menu ul {
float:none;
text-align: center;
}
.single-field {
  margin-top: 20px;
}
.main-menu ul li:hover ul {	
top:84px
}
.locations-text {
  top: 70%;
}
}

@media only screen and (min-width: 0px) and (max-width: 470px) {
.hd-lft li::before{display:none}	
.hd-lft li{padding:0px 6px}
.hd-lft li i {
  margin-right: 4px;
}
.hd-sec .container {
  padding: 0;
}
.slider-text {
  padding: 0;
}
.slider-text p {
  color: #fff;
  padding: 0 100px;
}
.slider-text li:last-child a {
  margin-top: 15px;
}
.all-slide .owl-item {
  height: 600px;
}
.property-thumb .owl-controls {
top: 30%;
}
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
body {
  font-size: 14px;
  line-height: 24px;
}	
h1 {
font-size: 22px;
}
h2 {
font-size: 18px;
}
h3 {
font-size: 16px;
}	
.abt-img img {
  margin-bottom: 20px;
}
.room-details {
  margin-bottom: 30px;
}
.container{overflow:hidden}
.single-field {
  margin-bottom: 20px;
}
.room-meta li {
  margin-right: 9px;
}
.hd-lft {
  display: inline-block;
  text-align: center;
  width: 100%;
  margin-bottom: 10px;
}
.hd-rgt {
  float: none;
  text-align: center;
}
.hd-sec {
  display: inline-block;
  width: 100%;padding:14px 0
}
.logo {
  padding: 28px 0;
}
.mean-container .mean-nav ul li a i {
  display: none;
}
.contact-person {
  padding:0;
}
.contact-field .col-md-4.col-sm-4.col-xs-12, .contact-field .message-input{padding-left:0;padding-right:0px}

.slider-text {
  padding: 0 60px;
}
.all-slide .single-slide {
  background-size: 100% 100%;
}
.slider-text p {
  padding: 0
}

.service-item .inner::before {
display:none;
}
.service-item {
border:none;
}
.mnmenu-sec.sticky_menu{position:relative}
.testimonial-title h1 {
  text-align: center;
}
.footer-sec .col-md-3.col-sm-6 {
  margin-bottom: 25px;
  width: 100%;
  display: inline-block;
}
.call-to-action-text h2 {
text-align: center;
margin-bottom: 15px;
margin-top: 0;
}
.call-to-action-text {
  display: inline-block;
  width: 100%;text-align:center
}
.call-to-action-text a.btn {
  float: none;
  margin-top: 10px;
}
}

@media only screen and (min-width: 0px) and (max-width: 450px) {
.sngle-tsmt {
  text-align: center;
}	
.client-dsc{padding-left:0px;}
.sngle-tsmt img{float:none;margin-bottom:10px}
.testimonial-sec .sngle-tsmt p{text-align:center}
.testimonial-sec .left i {
  display: block;
  left: 0;
}
}

@media only screen and (min-width: 0px) and (max-width: 380px) {
.hd-rgt {
  float: none;
  text-align: center;
  margin-bottom: 8px;
}
.hd-lft li{padding:5px 0;width:100%}


}
@media only screen and (min-width: 0px) and (max-width: 360px) {
.room-meta li.price {
  float: none;
  margin-top: 10px;
}
}
@media only screen and (min-width: 0px) and (max-width: 320px) {
.slider-text h1 {
  font-size: 22px;
}	
	
}